<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{recipientSource.recipients}">
    <f:variable name="table" value="{recipientSource.configuration.table}" />
    <f:variable name="iconIdenfiier" value="{recipientSource.configuration.icon}" />
    <f:if condition="{recipientSource.configuration.contains}">
        <f:variable name="table" value="{recipientSource.configuration.contains}" />
        <f:variable name="iconIdenfiier" value="{recipientSource.configuration.containsIcon}" />
    </f:if>
    <f:variable name="icon">
        <f:if condition="{iconIdenfiier}">
            <f:then>
                <core:icon identifier="{iconIdenfiier}" />
            </f:then>
            <f:else if="{recipientSource.recipients.0} && {table}">
                <core:iconForRecord row="{recipientSource.recipients.0}" table="{table}"/>
            </f:else>
        </f:if>
    </f:variable>
    <div class="panel panel-default">
        <table class="table table-striped table-hover mb-0">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th><f:translate key="{lll}recipient.categories"/></th>
                <th><f:translate key="{lll}recipient.htmlFormat"/></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{recipientSource.recipients}" as="recipient">
                <tr>
                    <td class="col-icon nowrap" style="width: 1%">
                        <f:if condition="{icon}">
                            {icon -> f:format.raw()}
                        </f:if>
                    </td>
                    <td class="col-title col-responsive nowrap">
                        <f:if condition="{recipientSource.edit}">
                            <f:then>
                                <f:if condition="{recipientSource.configuration.csvOrPlain}">
                                    <f:then>
                                        <f:if condition="{recipientSource.configuration.groupUid}">
                                            <be:link.editRecord uid="{recipientSource.configuration.groupUid}" table="{table}" fields="list,csv_separator,csv_data,csv_file,mail_html,categories" title="{f:translate(key: '{lll}general.button.edit')}">
                                                <f:if condition="{recipient.name}"><f:then>{recipient.name}</f:then><f:else>({recipient.email})</f:else></f:if>
                                            </be:link.editRecord>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{recipient.uid} && {recipientSource.edit}">
                                            <be:link.editRecord uid="{recipient.uid}" table="{table}" title="{f:translate(key: '{lll}general.button.edit')}">
                                                <f:if condition="{recipient.name}"><f:then>{recipient.name}</f:then><f:else>({recipient.email})</f:else></f:if>
                                            </be:link.editRecord>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:if condition="{recipient.name}"><f:then>{recipient.name}</f:then><f:else>({recipient.email})</f:else></f:if>
                            </f:else>
                        </f:if>
                    </td>
                    <td class="nowrap">
                        <f:link.email email="{recipient.email}"/>
                    </td>
                    <td class="nowrap">
                        <f:if condition="{recipient.categories -> f:count() > 0}">
                        <f:then>
                            <f:for each="{recipient.categories}" as="category" iteration="categoryIterator">
                                {category.title}<f:if condition="!{categoryIterator.isLast}">, </f:if>
                            </f:for>
                        </f:then>
                        <f:else>
                            {recipient.categories}
                        </f:else>
                    </f:if>
                    </td>
                    <td class="nowrap text-center">
                        <f:if condition="{recipient.mail_html} || {recipient.mailHtml}">
                            <f:then><core:icon identifier="actions-check-square" /></f:then>
                            <f:else><core:icon identifier="actions-check-markstate" /></f:else>
                        </f:if>
                    </td>
                    <td class="col-control nowrap">
                        <f:if condition="{recipientSource.edit}">
                            <f:if condition="{recipientSource.configuration.csvOrPlain}">
                                <f:then>
                                    <f:if condition="{recipientSource.configuration.groupUid}">
                                        <be:link.editRecord class="btn btn-default" uid="{recipientSource.configuration.groupUid}" table="{table}" fields="list,csv_separator,csv_data,csv_file,mail_html,categories" title="{f:translate(key: '{lll}general.button.edit')}">
                                            <core:icon identifier="actions-open"/>
                                        </be:link.editRecord>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <f:if condition="{recipient.uid} && {recipientSource.edit}">
                                        <be:link.editRecord class="btn btn-default" uid="{recipient.uid}" table="{table}" title="{f:translate(key: '{lll}general.button.edit')}">
                                            <core:icon identifier="actions-open"/>
                                        </be:link.editRecord>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:if>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:if>
</html>
