<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Module{layoutSuffix}"/>

<f:section name="Content">
	<f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
	<h1>
		<f:translate key="{lll}mail.wizard.title"/>
		:
		<f:translate key="{lll}mail.wizard.scheduleSending"/>
	</h1>
	<f:render partial="Backend/Wizard/Steps" arguments="{navigation: navigation}"/>
	<f:render partial="Backend/HelpModal"
			  arguments="{titleLanguageKey: '{lll}mail.wizard.scheduleSending.info.mailGroup.title', bodyLanguageKey: '{lll}mail.wizard.scheduleSending.info.mailGroup.message'}"/>
	<h2>
		<core:iconForRecord row="{uid: mailUid, type:0}" table="tx_mail_domain_model_mail" size="default"/>
		{title}
	</h2>
	<f:form id="mail-wizard-schedule-sending-form" action="finish" object="{mail}" objectName="mail" method="post" enctype="multipart/form-data">
		<div class="mb-4">
			<div class="row mb-3 gy-3">
				<f:if condition="{groups}">
					<f:then>
						<div class="col-12 col-md-6">
							<h4>
								<f:translate key="{lll}mail.wizard.scheduleSending.mailGroups"/>
							</h4>
							<ul class="list-group">
								<f:for each="{groups}" as="group">
									<li class="list-group-item d-flex justify-content-between align-items-center">
										<label class="form-check-label" for="mailgroups-{group.uid}">
											<f:form.checkbox class="form-check-input me-1" property="recipientGroups" multiple="1" value="{group.uid}"
															 id="mailgroups-{group.uid}"/>
											{group.title}
										</label>
										<span class="badge rounded-pill bg-mail-theme ms-1 pb-1">{group.receiver}</span>
									</li>
								</f:for>
							</ul>
                            <f:if condition="!{hideExcludeRecipientGroups} && {groups -> f:count()} > 1">
                                <div class="mt-4">
                                    <h4>
                                        <f:translate key="{lll}mail.wizard.scheduleSending.excludeRecipientGroups"/>
                                    </h4>
                                    <p>
                                        <f:translate key="{lll}mail.wizard.scheduleSending.excludeRecipientGroups.description"/>
                                    </p>
                                    <ul class="list-group">
                                        <f:for each="{groups}" as="group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="exclude-mailgroups-{group.uid}">
                                                    <f:form.checkbox class="form-check-input me-1" property="excludeRecipientGroups" multiple="1" value="{group.uid}"
                                                                     id="exclude-mailgroups-{group.uid}"/>
                                                    {group.title}
                                                </label>
                                                <span class="badge rounded-pill bg-mail-theme ms-1 pb-1">{group.receiver}</span>
                                            </li>
                                        </f:for>
                                    </ul>
                                </div>
                            </f:if>
						</div>
					</f:then>
					<f:else>
						<div class="col-12 col-md-6">
							<f:be.infobox state="2">
								<f:translate key="{lll}mail.wizard.scheduleSending.noRecipientGroupsFound.message"/>
							</f:be.infobox>
						</div>
					</f:else>
				</f:if>
				<div class="col-12 col-md-6">
					<label for="distributionTime" class="form-label h4 mb-2">
						<f:translate key="{lll}mail.wizard.scheduleSending.distributionTime"/>
					</label>
					<f:if condition="{v12}">
						<f:then>
							<div class="input-group">
								<f:form.textfield id="mail-distribution-time" property="scheduled" value="{f:format.date(format:'c',date:mail.scheduled)}" data="{date-type:'datetime'}" additionalAttributes="{autocomplete:'off'}" class="form-control"/>
								<button class="btn btn-default" type="button" data-global-event="click" data-action-focus="#mail-distribution-time">
									<core:icon identifier="actions-edit-pick-date"/>
								</button>
							</div>
						</f:then>
						<f:else>
							<div class="input-group">
								<f:form.textfield id="mail-distribution-time" property="scheduled" value="{f:format.date(format:'H:i d-m-Y',date:mail.scheduled)}" data="{date-type:'datetime'}" additionalAttributes="{autocomplete:'off'}" class="form-control t3js-datetimepicker"/>
								<label class="mb-0 btn btn-default" for="mail-distribution-time">
									<core:icon identifier="actions-edit-pick-date"/>
								</label>
							</div>
						</f:else>
					</f:if>
				</div>
				<f:comment>
					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" name="isTestMail" id="tx-directmail-sendtestmail-check" value="1"/>
						<label class="form-check-label" for="tx-directmail-sendtestmail-check">
							<f:translate key="{lll}mail.wizard.scheduleSending.testMail"/>
						</label>
					</div>
					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" name="saveDraft" id="tx-directmail-savedraft-check" value="1"/>
						<label class="form-check-label" for="tx-directmail-savedraft-check">
							<f:translate key="{lll}mail.wizard.scheduleDraft"/>
						</label>
					</div>
				</f:comment>
			</div>
			<f:if condition="{groups}">
				<f:form.button disabled="disabled" id="mail-wizard-schedule-sending-form-submit-button" class="btn btn-lg btn-mail-theme text-uppercase" type="Submit">
					<f:translate key="{lll}general.button.finish"/>
				</f:form.button>
			</f:if>
		</div>
	</f:form>
	<f:render partial="Backend/Wizard/Navigation" arguments="{mail:mailUid, previousAction: navigation.previousAction, lll:lll}"/>
</f:section>
</html>
