<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="MailContent" />

<f:section name="Content">
<f:if condition="{news}">
    <f:then>
        <f:for each="{news}" as="newsItem" iteration="iterator">
            <f:variable name="newsDetailsUrl"><n:link uriOnly="1" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" configuration="{forceAbsoluteUrl:1}" /></f:variable>
            <f:variable name="mediaElement" value="{newsItem.mediaPreviews.0}" />
            <tr>
                <td valign="top" colspan="2">
                    <h2><a href="{newsDetailsUrl}">{newsItem.title}</a></h2>
                </td>
            </tr>
            <tr>
                <td valign="top" width="80%">
                    <p>{newsItem.teaser}</p>
                    <f:render partial="ContentElements/Button" arguments="{href:newsDetailsUrl, text:'{f:translate(key: \'more-link\')}', rounded:1}"></f:render>
                </td>
                <td valign="top" width="20%">
                    <a href="{newsDetailsUrl}" title="{newsItem.title}">
                        <f:if condition="{mediaElement.originalResource.type} == 2">
                            <f:then>
                                <f:image
                                    image="{mediaElement}"
                                    title="{mediaElement.originalResource.title}"
                                    alt="{mediaElement.originalResource.alternative}"
                                    maxWidth="300"
                                    style="width:100%;height:100%;"/>
                            </f:then>
                            <f:else>
                                <f:image
                                    src="EXT:news/Resources/Public/Images/dummy-preview-image.png"
                                    title="Dummy image"
                                    alt="Dummy image"
                                    maxWidth="300"
                                    style="width:100%;height:100%;"/>
                            </f:else>
                        </f:if>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>&nbsp;</p>
                </td>
            </tr>
        </f:for>
    </f:then>
    <f:else>
        <div class="no-news-found">
            <f:translate key="list_nonewsfound" />
        </div>
    </f:else>
</f:if>
</f:section>
</html>
