<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">
<h3>
    <f:translate key="{lll}recip_select_mailgroup"/>
</h3>
<div class="panel panel-default">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-icon nowrap"></th>
            <th class="col-title col-responsive nowrap">
                <f:translate key="{lll4}LGL.title"/>
            </th>
            <th>
                <f:translate key="{lll4}LGL.type"/>
            </th>
            <th>
                <f:translate key="{lll4}LGL.description"/>
            </th>
            <th>
                <f:translate key="{lll}recip_group_amount"/>
            </th>
            <th class="col-control nowrap"></th>
        </tr>
        </thead>
        <f:for each="{data.rows}" as="group">
            <tr>
                <td class="col-icon nowrap">
                    <core:iconForRecord row="{uid:group.uid, type:group.type}" table="tx_mail_domain_model_group"/>
                </td>
                <td class="col-title col-responsive nowrap">
                    {group.title}
                </td>
                <td class="nowrap">
                    {group.typeProcessed}
                </td>
                <td class="nowrap">
                    {group.description}
                </td>
                <td class="text-center"><span class="badge rounded-pill bg-primary pb-1">{group.count}</span></td>
                <td class="col-control nowrap">
                    <be:link.editRecord uid="{group.uid}" table="tx_mail_domain_model_group" class="btn btn-default" title="Edit group">
                        <core:icon identifier="actions-open" size="small"/>
                    </be:link.editRecord>
                    <f:link.action class="btn btn-default" action="show" arguments="{group: group.uid}"><core:icon identifier="actions-view" size="small"/></f:link.action>
            </tr>
        </f:for>
    </table>
</div>
<be:link.newRecord table="tx_mail_domain_model_group" class="btn btn-default text-uppercase" title="New group">
    <core:icon identifier="actions-add"/> <f:translate key="{lll}recip_create_mailgroup_msg"/>
</be:link.newRecord>
<h3>
    <f:translate key="{lll}mailgroup_import"/>
</h3>
<f:link.action class="btn btn-default text-uppercase" action="csvImportWizard"><core:icon identifier="content-csv" overlay="actions-arrow-up-alt"/> <f:translate key="{lll}recip_import_mailgroup_msg"/></f:link.action>
</html>
