<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">
<h2>{csvImportData.output.title}</h2>
<h3>{csvImportData.output.subtitle}</h3>
<f:form action="" method="post" name="dmailform" enctype="multipart/form-data">
    <f:if condition="{csvImportData.output.upload.show}">
        <div class="mb-3">
            <label for="recipientListUpload" class="form-label">
                <f:translate key="{lll}mailgroup_import_upload_file"/>
            </label>
            <f:form.upload class="form-control" id="recipientListUpload" name="upload_1"/>
        </div>
        <f:if condition="{csvImportData.output.upload.current}">
            <f:translate key="{lll}mailgroup_import_current_file"/>
            <f:if condition="{csvImportData.output.upload.fileInfo -> f:count()}">
                {csvImportData.output.upload.fileInfo.name}
                ({csvImportData.output.upload.fileInfo.extension};
                {csvImportData.output.upload.fileInfo.size})
            </f:if>
        </f:if>
        <p><strong>
            <f:translate key="{lll}mailgroup_import_or"/>
        </strong></p>

        <div class="mb-3">
            <label for="receipientListPlain" class="form-label">
                <f:translate key="{lll}mailgroup_import_paste_csv"/>
            </label>
            <f:form.textarea name="CSV_IMPORT[csv]" id="receipientListPlain" class="form-control"
                             rows="10">{csvImportData.output.upload.csv}
            </f:form.textarea>
        </div>
        <f:form.hidden name="cmd" value="displayImport"/>
        <f:form.hidden name="importStep[next]" value="conf"/>
        <f:form.hidden name="file[upload][1][data]" value="1"/>
        <f:form.hidden name="file[upload][1][target]" value="{csvImportData.output.upload.target}"/>
        <f:form.submit name="CSV_IMPORT[next]" value="{f:translate(key: '{lll}mailgroup_import_next')}"
                       class="btn btn-primary text-uppercase"/>
        <f:form.hidden name="CSV_IMPORT[newFile]" value="{csvImportData.output.upload.newFile}"/>
        <f:form.hidden name="CSV_IMPORT[newFileUid]" value="{csvImportData.output.upload.newFileUid}"/>
    </f:if>
    <f:if condition="{csvImportData.output.conf.show}">
        <fieldset class="form-section mb-3">
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                    <td>
                        <f:translate key="{lll}mailgroup_import_header_conf"/>
                    </td>
                    <td>
                        <f:if condition="{csvImportData.output.conf.storage -> f:count()}">
                            <f:form.select class="form-select form-control-adapt"
                                           name="CSV_IMPORT[storage]"
                                           value="{csvImportData.output.conf.storageSelected}">
                                <f:for each="{csvImportData.output.conf.storage}" as="st">
                                    <f:form.select.option value="{st.val}">{st.text}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </f:if>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}mailgroup_import_remove_existing"/>
                    </td>
                    <td>
                        <f:form.checkbox name="CSV_IMPORT[remove_existing]" value="1"
                                         checked="{csvImportData.output.conf.remove_existing} == 1"
                                         disabled="{f:if(condition: '{csvImportData.output.conf.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}mailgroup_import_first_fieldnames"/>
                    </td>
                    <td>
                        <f:form.checkbox name="CSV_IMPORT[first_fieldname]" value="1"
                                         checked="{csvImportData.output.conf.first_fieldname} == 1"
                                         disabled="{f:if(condition: '{csvImportData.output.conf.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}mailgroup_import_separator"/>
                    </td>
                    <td>
                        <f:if condition="{csvImportData.output.conf.delimiter -> f:count()}">
                            <f:form.select class="form-select form-control-adapt"
                                           name="CSV_IMPORT[delimiter]"
                                           value="{csvImportData.output.conf.delimiterSelected}"
                                           disabled="{f:if(condition: '{csvImportData.output.conf.disableInput}', then: 'disabled')}">
                                <f:for each="{csvImportData.output.conf.delimiter}" as="del">
                                    <f:form.select.option value="{del.val}">{del.text}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </f:if>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}mailgroup_import_encapsulation"/>
                    </td>
                    <td>
                        <f:if condition="{csvImportData.output.conf.encapsulation -> f:count()}">
                            <f:form.select class="form-select form-control-adapt"
                                           name="CSV_IMPORT[encapsulation]"
                                           value="{csvImportData.output.conf.encapsulationSelected}"
                                           disabled="{f:if(condition: '{csvImportData.output.conf.disableInput}', then: 'disabled')}">
                                <f:for each="{csvImportData.output.conf.encapsulation}" as="en">
                                    <f:form.select.option value="{en.val}">{en.text}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </f:if>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}mailgroup_import_csv_validemail-description"/>
                    </td>
                    <td>
                        <f:form.checkbox name="CSV_IMPORT[valid_email]" value="1"
                                         checked="{csvImportData.output.conf.valid_email} == 1"
                                         disabled="{f:if(condition: '{csvImportData.output.conf.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}mailgroup_import_csv_dublette-description"/>
                    </td>
                    <td>
                        <f:form.checkbox name="CSV_IMPORT[remove_dublette]" value="1"
                                         checked="{csvImportData.output.conf.remove_dublette} == 1"
                                         disabled="{f:if(condition: '{csvImportData.output.conf.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}mailgroup_import_update_unique"/>
                    </td>
                    <td>
                        <f:form.checkbox name="CSV_IMPORT[update_unique]" value="1"
                                         checked="{csvImportData.output.conf.update_unique} == 1"
                                         disabled="{f:if(condition: '{csvImportData.output.conf.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}mailgroup_import_record_unique"/>
                    </td>
                    <td>
                        <f:if condition="{csvImportData.output.conf.record_unique -> f:count()}">
                            <f:form.select class="form-select form-control-adapt"
                                           name="CSV_IMPORT[record_unique]"
                                           value="{csvImportData.output.conf.record_uniqueSelected}"
                                           disabled="{f:if(condition: '{csvImportData.output.conf.disableInput}', then: 'disabled')}">
                                <f:for each="{csvImportData.output.conf.record_unique}" as="ru">
                                    <f:form.select.option value="{ru.val}">{ru.text}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </f:if>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <f:form.hidden name="cmd" value="displayImport"/>
        <f:form.hidden name="importStep[next]" value="mapping"/>
        <f:form.hidden name="importStep[back]" value="upload"/>

        <f:form.submit name="CSV_IMPORT[back]" value="{f:translate(key: '{lll}mailgroup_import_back')}"
                       class="btn btn-default text-uppercase"/>
        <f:form.submit name="CSV_IMPORT[next]" value="{f:translate(key: '{lll}mailgroup_import_next')}"
                       class="btn btn-primary text-uppercase"/>
        <f:form.hidden name="CSV_IMPORT[newFile]" value="{csvImportData.output.conf.newFile}"/>
        <f:form.hidden name="CSV_IMPORT[newFileUid]" value="{csvImportData.output.conf.newFileUid}"/>
    </f:if>
    <f:if condition="{csvImportData.output.mapping.show}">
        <f:if condition="{csvImportData.output.mapping.charset -> f:count()}">
            <fieldset class="form-section mb-4 pb-3">
                <label for="csvImportCharset" class="form-label">
                    <f:translate key="{lll}mailgroup_import_mapping_charset_choose"/>
                </label>
                <f:form.select class="form-select mb-2" id="csvImportCharset" name="CSV_IMPORT[charset]"
                               value="{csvImportData.output.mapping.charsetSelected}">
                    <f:for each="{csvImportData.output.mapping.charset}" as="cs">
                        <f:form.select.option value="{cs.val}">{cs.text}</f:form.select.option>
                    </f:for>
                </f:form.select>
                <f:form.submit name="CSV_IMPORT[update]"
                               value="{f:translate(key: '{lll}mailgroup_import_update')}"
                               class="btn btn-primary text-uppercase"/>
            </fieldset>
        </f:if>
        <f:if condition="{csvImportData.output.mapping.error -> f:count()}">
            <h3>
                <f:translate key="{lll}mailgroup_import_mapping_error"/>
            </h3>
            <f:translate key="{lll}mailgroup_import_mapping_error_detail"/>
            <ul>
                <f:for each="{csvImportData.output.mapping.error}" as="error">
                    <li>
                        <f:translate key="{lll}mailgroup_import_mapping_error_{error}"/>
                    </li>
                </f:for>
            </ul>
        </f:if>
        <h3>
            <f:translate key="{lll}mailgroup_import_mapping_conf"/>
        </h3>
        <fieldset class="form-section mb-4">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        <f:translate key="{lll}mailgroup_import_mapping_number"/>
                    </th>
                    <th>
                        <f:translate key="{lll}mailgroup_import_mapping_description"/>
                    </th>
                    <th>
                        <f:translate key="{lll}mailgroup_import_mapping_mapping"/>
                    </th>
                    <th>
                        <f:translate key="{lll}mailgroup_import_mapping_value"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:if condition="{csvImportData.output.mapping.table -> f:count()}">
                    <f:for each="{csvImportData.output.mapping.table}" iteration="iterator" as="row">
                        <tr>
                            <td>{iterator.cycle}</td>
                            <td>
                                {row.mapping_description -> f:format.html()}
                            </td>
                            <td>
                                <f:if condition="{csvImportData.output.mapping.fields -> f:count()}">
                                    <f:form.select class="form-select form-control-adapt"
                                                   name="CSV_IMPORT[map][{row.mapping_i}]"
                                                   value="{row.mapping_mappingSelected}">
                                        <f:for each="{csvImportData.output.mapping.fields}" as="field">
                                            <f:form.select.option value="{field.0}">{field.1}
                                            </f:form.select.option>
                                        </f:for>
                                    </f:form.select>
                                </f:if>
                            </td>
                            <td>
                                <f:if condition="{row.mapping_value -> f:count()}">
                                    <table class="table table-striped table-hover">
                                        <f:for each="{row.mapping_value}" as="mv">
                                            <tr>
                                                <td>
                                                    {mv -> f:format.html()}
                                                </td>
                                            </tr>
                                        </f:for>
                                    </table>
                                </f:if>
                            </td>
                        </tr>
                    </f:for>
                </f:if>
                </tbody>
            </table>
        </fieldset>
        <h3>
            <f:translate key="{lll}mailgroup_import_mapping_conf_add"/>
        </h3>
        <fieldset class="form-section mb-4">
            <div class="form-check">
                <f:form.checkbox class="form-check-input" id="csvImportHtmlAll"
                                 name="CSV_IMPORT[all_html]" value="1"
                                 checked="{csvImportData.output.mapping.all_html} == 1"/>
                <label class="form-check-label" for="csvImportHtmlAll">
                    <f:translate key="{lll}mailgroup_import_mapping_all_html"/>
                </label>
            </div>
            <f:if condition="{csvImportData.output.mapping.mapping_cats -> f:count()}">
                <f:if condition="{csvImportData.output.mapping.show_add_cat}">
                    <div class="form-check">
                        <f:form.checkbox class="form-check-input" id="csvImportAddCat"
                                         name="CSV_IMPORT[add_cat]" value="1"
                                         checked="{csvImportData.output.mapping.add_cat} == 1"/>
                        <label class="form-check-label" for="csvImportAddCat">
                            <f:translate key="{lll}mailgroup_import_mapping_cats"/>
                        </label>
                    </div>
                </f:if>
                <f:for each="{csvImportData.output.mapping.mapping_cats}" as="mapping_cat">
                    <div class="form-check">
                        <f:form.checkbox class="form-check-input" id="csvImportCat"
                                         name="CSV_IMPORT[cat][{mapping_cat.k}]"
                                         value="{mapping_cat.vUid}"
                                         checked="{mapping_cat.checked} == 1"/>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">{mapping_cat.cat}</label>
                    </div>
                </f:for>
            </f:if>
        </fieldset>
        <f:form.hidden name="cmd" value="displayImport"/>
        <f:form.hidden name="importStep[next]" value="startImport"/>
        <f:form.hidden name="importStep[back]" value="conf"/>

        <f:form.submit name="CSV_IMPORT[back]" value="{f:translate(key: '{lll}mailgroup_import_back')}"
                       class="btn btn-default text-uppercase"/>
        <f:form.submit name="CSV_IMPORT[next]" value="{f:translate(key: '{lll}mailgroup_import_next')}"
                       class="btn btn-primary text-uppercase"/>

        <f:form.hidden name="CSV_IMPORT[newFile]" value="{csvImportData.output.mapping.newFile}"/>
        <f:form.hidden name="CSV_IMPORT[newFileUid]" value="{csvImportData.output.mapping.newFileUid}"/>
        <f:form.hidden name="CSV_IMPORT[storage]" value="{csvImportData.output.mapping.storage}"/>
        <f:form.hidden name="CSV_IMPORT[remove_existing]" value="{csvImportData.output.mapping.remove_existing}"/>
        <f:form.hidden name="CSV_IMPORT[first_fieldname]" value="{csvImportData.output.mapping.first_fieldname}"/>
        <f:form.hidden name="CSV_IMPORT[delimiter]" value="{csvImportData.output.mapping.delimiter}"/>
        <f:form.hidden name="CSV_IMPORT[encapsulation]" value="{csvImportData.output.mapping.encapsulation}"/>
        <f:form.hidden name="CSV_IMPORT[valid_email]" value="{csvImportData.output.mapping.valid_email}"/>
        <f:form.hidden name="CSV_IMPORT[remove_dublette]" value="{csvImportData.output.mapping.remove_dublette}"/>
        <f:form.hidden name="CSV_IMPORT[update_unique]" value="{csvImportData.output.mapping.update_unique}"/>
        <f:form.hidden name="CSV_IMPORT[record_unique]" value="{csvImportData.output.mapping.record_unique}"/>
        <f:form.hidden name="CSV_IMPORT[charsetSelected]" value="{csvImportData.output.mapping.charsetSelected}"/>
    </f:if>
    <f:if condition="{csvImportData.output.startImport.show}">
        <f:if condition="{csvImportData.output.startImport.tables -> f:count()}">
            <fieldset class="form-section">
                <f:for each="{csvImportData.output.startImport.tables}" as="table">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr class="t3-row-header">
                            <th colspan="3">{table.header}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <f:if condition="{table.rows -> f:count()}">
                            <f:for each="{table.rows}" as="row" iteration="iterator">
                                <tr>
                                    <td>{iterator.cycle}</td>
                                    <td>{row.val}</td>
                                    <td>{row.email}</td>
                            </f:for>
                        </f:if>
                        </tbody>
                    </table>
                </f:for>
            </fieldset>
        </f:if>
        <f:if condition="{csvImportData.output.startImport.hiddenMap -> f:count()}">
            <f:for each="{csvImportData.output.startImport.hiddenMap}" as="map">
                <f:form.hidden name="{map.name}" value="{map.value}"/>
            </f:for>
        </f:if>
        <f:if condition="{csvImportData.output.startImport.hiddenCat -> f:count()}">
            <f:for each="{csvImportData.output.startImport.hiddenCat}" as="cat">
                <f:form.hidden name="{cat.name}" value="{cat.value}"/>
            </f:for>
        </f:if>
        <br/>
        <f:form.hidden name="cmd" value="displayImport"/>
        <f:form.hidden name="importStep[back]" value="mapping"/>

        <f:form.submit name="CSV_IMPORT[back]" value="{f:translate(key: '{lll}mailgroup_import_back')}"
                       class="btn btn-default text-uppercase"/>
        <f:form.hidden name="CSV_IMPORT[newFile]" value="{csvImportData.output.startImport.newFile}"/>
        <f:form.hidden name="CSV_IMPORT[newFileUid]"
                       value="{csvImportData.output.startImport.newFileUid}"/>
        <f:form.hidden name="CSV_IMPORT[storage]" value="{csvImportData.output.startImport.storage}"/>
        <f:form.hidden name="CSV_IMPORT[remove_existing]"
                       value="{csvImportData.output.startImport.remove_existing}"/>
        <f:form.hidden name="CSV_IMPORT[first_fieldname]"
                       value="{csvImportData.output.startImport.first_fieldname}"/>
        <f:form.hidden name="CSV_IMPORT[delimiter]"
                       value="{csvImportData.output.startImport.delimiter}"/>
        <f:form.hidden name="CSV_IMPORT[encapsulation]"
                       value="{csvImportData.output.startImport.encapsulation}"/>
        <f:form.hidden name="CSV_IMPORT[valid_email]"
                       value="{csvImportData.output.startImport.valid_email}"/>
        <f:form.hidden name="CSV_IMPORT[remove_dublette]"
                       value="{csvImportData.output.startImport.remove_dublette}"/>
        <f:form.hidden name="CSV_IMPORT[update_unique]"
                       value="{csvImportData.output.startImport.update_unique}"/>
        <f:form.hidden name="CSV_IMPORT[record_unique]"
                       value="{csvImportData.output.startImport.record_unique}"/>
        <f:form.hidden name="CSV_IMPORT[charset]"
                       value="{csvImportData.output.startImport.charsetSelected}"/>
        <f:form.hidden name="CSV_IMPORT[all_html]" value="{csvImportData.output.mapping.all_html}"/>
        <f:form.hidden name="CSV_IMPORT[add_cat]" value="{csvImportData.output.startImport.add_cat}"/>
    </f:if>
    <f:if condition="{csvImportData.theOutput}">
        <f:format.raw>{csvImportData.theOutput}</f:format.raw>
    </f:if>
</f:form>
</html>
