<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{recipients}">
    <div class="panel panel-default">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th></th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{recipients}" as="recipient">
                <tr>
                    <td class="col-icon nowrap" style="width: 1%">
                        <core:iconForRecord row="{recipient}" table="{table}"/>
                    </td>
                    <td class="col-title col-responsive nowrap">
                        <f:if condition="{recipient.uid} && {allowEdit}">
                            <f:then>
                                <be:link.editRecord uid="{recipient.uid}" table="{table}" title="{f:translate(key: '{lll}dmail_edit')}">
                                    {recipient.name}
                                </be:link.editRecord>
                            </f:then>
                            <f:else>
                                {recipient.name}
                            </f:else>
                        </f:if>
                    </td>
                    <td class="col-control nowrap">
                        <f:if condition="{recipient.uid} && {allowEdit}">
                            <be:link.editRecord class="btn btn-default" uid="{recipient.uid}" table="{table}" title="{f:translate(key: '{lll}dmail_edit')}">
                                <core:icon identifier="actions-open"/>
                            </be:link.editRecord>
                        </f:if>
                    </td>
                    <td class="nowrap">
                        <f:link.email email="{recipient.email}"/>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:if>
</html>
