<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Mail" />

<f:section name="Header"><f:spaceless><f:render partial="Mail/Header" arguments="{_all}" /></f:spaceless></f:section>

<f:section name="Body"><f:spaceless>
    <table class="body-wrap body" bgcolor="">
        <tr>
            <td></td>
            <td class="container" align="" bgcolor="#FFFFFF"><f:spaceless>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 0, slide: 0}" />
            </f:spaceless></td>
            <td></td>
        </tr>
    </table>
</f:spaceless></f:section>

<f:section name="Footer"><f:spaceless><f:render partial="Mail/Footer" arguments="{_all}" /></f:spaceless></f:section>
<f:section name="Tracking"><f:image src="EXT:mail/Resources/Public/Images/mailerping.gif" alt="" style="width:1px;height:1px;" data="{mailer-ping:1, do-not-embed:1}" absolute="1" /></f:section>
</html>
