<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container footer">
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p class="text-center">
                                <f:link.page pageUid="{termsPid}">Terms</f:link.page> |
                                <f:link.page pageUid="{privacyPid}">Privacy</f:link.page> |
                                <a href="#">Unsubscribe</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</html>
