<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="head-wrap">
    <tr>
        <td></td>
        <td class="container header">
            <div class="content">
                <table>
                    <tr>
                        <td class="large-6 columns first" style="padding-top:16px">
                            <f:image src="{settings.header.image.src}" width="{settings.header.image.width}" height="{settings.header.image.height}" alt="{settings.header.image.alt}"/>
                        </td>
                        <td class="large-6 columns last" style="padding-top:16px" align="right" valign="middle"><h6 class="m-0 text-right">{settings.header.title}</h6></td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</html>
