<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="head-wrap">
    <tr>
        <td></td>
        <td class="header container" align="">
            <div class="content">
                <table>
                    <tr>
                        <td class="large-6 columns first" style="padding-top:16px"><f:image src="EXT:mail/Resources/Public/Images/Logo.png" width="300" alt="Logo" /></td>
                        <td class="large-6 columns last" style="padding-top:16px" align="right" valign="middle"><h6 class="collapse text-right">Newsletter</h6></td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</html>
