<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"><f:spaceless>

<f:variable name="tooltip"><f:spaceless>
    <f:for each="{messages}" as="message" iteration="messageIterator"><f:spaceless>
        <f:if condition="{message}"><f:translate key="{message}" default="{message}"/><f:if condition="!{messageIterator.isLast}"><br></f:if></f:if>
    </f:spaceless></f:for>
</f:spaceless></f:variable>
<span class="ms-1 text-info" data-bs-trigger="hover focus" data-bs-container="body"
      data-bs-toggle="popover" data-bs-html="true" data-bs-placement="right"
      data-bs-content="{tooltip -> f:format.raw()}"><core:icon identifier="actions-info-circle-alt" /></span>

</f:spaceless></html>
