<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="MailContent" />

<f:section name="Content">
	<f:comment>
		Header
	</f:comment>
	<f:if condition="{data.header}">
		<tr>
			<td class="float-center" valign="top">
				<f:render partial="ContentElements/Header" arguments="{_all}" />
			</td>
		</tr>
	</f:if>

	<f:comment>
		If images before text
	</f:comment>
	<f:if condition="{gallery.rows}">
		<f:if condition="{data.imageorient} == 0 || {data.imageorient} == 1 || {data.imageorient} == 2">
			<tr>
				<td class="float-center" valign="top">
					<f:render partial="ContentElements/Image" section="ImageContainer" arguments="{_all}" />
                    <f:render partial="Spacer" arguments="{height:16}" />
				</td>
			</tr>
		</f:if>
	</f:if>

	<f:comment>
		Text and images beside text
	</f:comment>
	<f:if condition="{data.bodytext}">
		<tr>
			<td class="float-center" valign="top">
				<f:if condition="{gallery.rows}">
					<f:then>
						<f:if condition="{data.imageorient} == 17 || {data.imageorient} == 25 || {data.imageorient} == 18 || {data.imageorient} == 26">
							<f:then>
								<table>
									<tr>
										<f:if condition="{data.imageorient} == 18 || {data.imageorient} == 26">
											<td width="33%" style="padding-right: 20px;"><f:render partial="ContentElements/Image" section="ImageContainer" arguments="{_all}" /></td>
										</f:if>

										<td width="66%">
											<f:render partial="ContentElements/Bodytext" arguments="{_all}" />
										</td>

										<f:if condition="{data.imageorient} == 17 || {data.imageorient} == 25">
											<td width="33%" style="padding-left: 20px;"><f:render partial="ContentElements/Image" section="ImageContainer" arguments="{_all}" /></td>
										</f:if>
									</tr>
								</table>
							</f:then>
							<f:else>
								<f:render partial="ContentElements/Bodytext" arguments="{_all}" />
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:render partial="ContentElements/Bodytext" arguments="{_all}" />
					</f:else>
				</f:if>
			</td>
		</tr>
	</f:if>

	<f:comment>
		If images after text
	</f:comment>
	<f:if condition="{gallery.rows}">
		<f:if condition="{data.imageorient} == 8 || {data.imageorient} == 9 || {data.imageorient} == 10">
			<tr>
				<td class="float-center" valign="top">
                    <f:render partial="Spacer" arguments="{height:16}" />
					<f:render partial="ContentElements/Image" section="ImageContainer" arguments="{_all}" />
				</td>
			</tr>
		</f:if>
	</f:if>
</f:section>
</html>
