<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <h1><f:translate key="{lll}mailgroup_import"/></h1>
    <h2><f:translate key="{lll}mailgroup_import_header_upload"/></h2>
    <f:form action="csvImportWizardStepConfiguration" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="recipientListUpload" class="form-label">
                <f:translate key="{lll}mailgroup_import_upload_file"/>
            </label>
            <input type="file" class="form-control" id="recipientListUpload" name="upload_1"/>
            <f:form.hidden name="file[upload][1][data]" value="1"/>
            <f:form.hidden name="file[upload][1][target]" value="{data.target}"/>
            <f:form.hidden name="configuration[newFile]" value="{data.newFile}"/>
            <f:form.hidden name="configuration[newFileUid]" value="{data.newFileUid}"/>
        </div>
        <p><strong>
            <f:translate key="{lll}mailgroup_import_or"/>
        </strong></p>

        <div class="mb-3">
            <label for="receipientListPlain" class="form-label">
                <f:translate key="{lll}mailgroup_import_paste_csv"/>
            </label>
            <f:form.textarea name="configuration[csv]" id="receipientListPlain" class="form-control"
                             rows="10">{data.csv}
            </f:form.textarea>
        </div>
        <f:form.button type="submit" class="btn btn-primary text-uppercase">
            <f:translate key="{lll}mailgroup_import_next"/>
        </f:form.button>
    </f:form>
</f:section>
</html>
