<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/locallang_mod2-6.xlf:"/>
    <h1>
        {data.title} <span class="badge rounded-pill bg-primary">{data.totalRecipients}</span>
    </h1>
    <f:if condition="{data.tables -> f:count()}">
        <div class="panel-group" id="mail-recipient-list-panel">
            <f:variable name="open" value="0"/>
            <f:if condition="{data.tables -> f:count()} == 1">
                <f:variable name="open" value="1"/>
            </f:if>
            <f:for each="{data.tables}" as="table" iteration="recipientTablesIterator">
                <f:variable name="title">
                    <f:translate key="{lll}mailgroup_table_{table.table}" default="{table.table}"/>
                </f:variable>
                <f:variable name="additionalHeading"><f:link.action action="csvDownload" arguments="{group: data.uid, table: table.table}" class="btn btn-default btn-sm text-uppercase">
                    <core:icon identifier="content-csv" overlay="actions-arrow-down-alt"/>
                    <f:translate key="{lll}mailgroup_download"/>
                </f:link.action></f:variable>
                <f:render partial="Panel"
                          arguments="{lll:lll, parentId:'mail-recipient-list-panel', title: title, index:recipientTablesIterator.index, open:open, counter: table.numberOfRecipients, additionalHeading:additionalHeading}"
                          contentAs="panelBody">
                    <f:render partial="Recipient/Recipients" arguments="{recipients: table.recipients, table: table.table, allowEdit: table.edit, lll:lll}"/>
                </f:render>
            </f:for>
        </div>
    </f:if>
</f:section>
</html>
