<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
<!-- since symmfony mailer currently does not allow to change mail encoding this configuration makes no sense -->
<div class="mb-3">
    <label for="quickMailEncoding" class="form-label">
        <f:translate key="{lll}configuration.quickmail.encoding"/><f:render partial="Help" arguments="{messages: '{0: \'{lll}configuration.quickmail.encoding\'}'}"/>
    </label>
    <f:form.select id="quickMailEncoding" name="pageTS[quickMailEncoding]"
                   options="{quoted-printable: 'quoted-printable', base64: 'base64'}"
                   value="{configuration.quickMailEncoding}" class="form-select form-control-adapt"/>
</div>
</f:comment>
<div class="mb-3">
    <label for="quickMailCharset" class="form-label">
        <f:translate key="{lll}configuration.quickmail.charset"/><f:render partial="Help" arguments="{messages: '{0: \'{lll}configuration.quickmail.charset.description\'}'}"/>
    </label>
    <f:form.select id="quickMailCharset" name="pageTS[quickMailCharset]" value="{configuration.quickMailCharset}" class="form-select form-control-adapt">
        <f:for each="{charsets}" as="charset">
            <f:form.select.option value="{charset}"
                                  selected="{f:if(condition: '{charset -> f:format.case(mode:\'lower\')} == {configuration.quickMailCharset -> f:format.case(mode:\'lower\')}', then: 1, else: 0)}">
                {charset}
            </f:form.select.option>
        </f:for>
    </f:form.select>
</div>

</html>
