<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h2><f:translate key="{lll}dmail_wiz4_testmail"/></h2>
<form action="" method="post" name="dmailform" enctype="multipart/form-data">
    <div class="mb-4">
        <f:if condition="{test.testFormData.test_tt_address}">
            <h3>
                <f:translate key="{lll}testmail_individual"/>
            </h3>
            <f:be.infobox>
                <f:translate key="{lll}testmail_individual_msg"/>
            </f:be.infobox>
            <div class="my-3">
                {test.testFormData.test_tt_address -> f:format.html()}
            </div>
        </f:if>
        <f:if condition="{test.testFormData.test_dmail_group_table -> f:count()}">
            <h3>
                <f:translate key="{lll}testmail_mailgroup"/>
            </h3>
            <f:translate key="{lll}testmail_mailgroup_msg"/>
            <div class="my-3">
                <f:for each="{test.testFormData.test_dmail_group_table}" as="table">
                    <a href="{table.moduleUrl}">{table.iconFactory -> f:format.html()} {table.title}</a>
                    <div class="my-3">
                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <td>{table.tds -> f:format.html()}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </f:for>
            </div>
        </f:if>
        <f:be.infobox state="-1" title="{f:translate(key: '{lll}testmail_simple')}">
            <f:format.html><f:translate key="{lll}testmail_simple_msg"/></f:format.html>
        </f:be.infobox>
        <input type="hidden" name="id" value="{test.testFormData.id}"/>
        <input type="hidden" name="sys_dmail_uid" value="{test.testFormData.sys_dmail_uid}"/>
        <input type="hidden" name="cmd" value="{test.testFormData.cmd}"/>
        <div class="row mb-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Mail address" name="sendTestMail[address]" value="{backendUser.email}" aria-label="Test mail recipient" aria-describedby="send-test-mail-button"/>
                    <button class="btn btn-outline-primary text-uppercase" id="send-test-mail-button" type="submit" name="sendTestMail[send]" value="1"><f:translate key="{lll}dmail_send"/></button>
                </div>
            </div>
        </div>
    </div>
</form>
<f:variable name="mailForm" value="mail-wizard-form-test"/>
<form action="" id="{mailForm}" method="post" name="dmailform" enctype="multipart/form-data">
    <input type="hidden" name="cmd" value="{test.cmd}">
    <input type="hidden" name="sys_dmail_uid" value="{test.sys_dmail_uid}">
    <input type="hidden" name="pages_uid" value="{test.pages_uid}">
    <input type="hidden" name="currentCMD" value="{test.currentCMD}">
</form>
<f:render partial="Wizard/Navigation" arguments="{navigation: navigation, mailForm:mailForm, lll:lll}"/>

</html>
