<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h2>
    <f:translate key="{lll}dmail_wiz4_testmail"/>
</h2>

<div class="mb-4">
    <f:be.infobox state="-1" title="{f:translate(key: '{lll}testmail_simple')}">
        <f:format.html>
            <f:translate key="{lll}testmail_simple_msg"/>
        </f:format.html>
    </f:be.infobox>
    <h3><f:translate key="{lll}testmail_individual"/></h3>
    <div class="row mb-3">
        <div class="col-12 col-md-6 col-lg-4">
            <form action="" method="post" name="dmailform" enctype="multipart/form-data">
                <f:variable name="recipients" value="{backendUser.email}"/>
                <div class="input-group mb-3">
                    <f:variable name="recipients" value=""/>
                    <f:if condition="{test.testFormData.ttAddress}">
                        <f:then>
                            <f:for each="{test.testFormData.ttAddress}" as="address">
                                <f:variable name="recipients" value="{recipients}{address.email};"/>
                            </f:for>
                        </f:then>
                        <f:else>
                            <f:variable name="recipients" value="{backendUser.email}"/>
                        </f:else>
                    </f:if>
                    <input type="hidden" name="id" value="{test.testFormData.id}"/>
                    <input type="hidden" name="mailUid" value="{test.testFormData.mailUid}"/>
                    <input type="hidden" name="cmd" value="{test.testFormData.cmd}"/>
                    <input class="form-control" type="text" placeholder="Mail address" name="sendTestMail[address]" value="{recipients}"
                           aria-label="Test mail recipient" aria-describedby="send-test-mail-tt-address-{address.uid}-button"/>
                    <button class="btn btn-outline-primary text-uppercase" id="send-test-mail-tt-address-{address.uid}-button" type="submit" name="sendTestMail[send]"
                            value="1">
                        <f:translate key="{lll}dmail_send"/>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <f:if condition="{test.testFormData.mailGroups}">
        <h3>
            <f:translate key="{lll}testmail_mailgroup"/>
        </h3>
        <f:translate key="{lll}testmail_mailgroup_msg"/>
        <div class="my-3">
            <f:for each="{test.testFormData.mailGroups}" key="groupId" as="mailGroup">
                <f:variable name="recipients" value=""/>
                <div class="mb-4">
                    <div class="mb-3 panel panel-default">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{mailGroup.title}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <f:for each="{mailGroup.groups}" key="type" as="group">
                                <f:for each="{group}" as="recipient">
                                    <tr>
                                        <td>
                                            <core:iconForRecord row="{recipient}" table="{type}"/>
                                            {recipient.name}, {recipient.email}
                                            <f:variable name="recipients" value="{recipient.email};{recipients}"/>
                                        </td>
                                    </tr>
                                </f:for>
                            </f:for>
                            </tbody>
                        </table>
                    </div>
                    <form action="" method="post" name="dmailform" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{test.testFormData.id}"/>
                        <input type="hidden" name="mailUid" value="{test.testFormData.mailUid}"/>
                        <input type="hidden" name="cmd" value="{test.testFormData.cmd}"/>
                        <input class="form-control" type="hidden" placeholder="Mail address" name="sendTestMail[address]" value="{recipients}"
                               aria-label="Test mail recipient" aria-describedby="send-test-mail-group-{groupId}-button"/>
                        <button class="btn btn-outline-primary text-uppercase" id="send-test-mail-group-{groupId}-button" type="submit" name="sendTestMail[send]" value="1">
                            Send test mail to {mailGroup.title}
                        </button>
                    </form>
                </div>
            </f:for>
        </div>
    </f:if>
</div>
<f:variable name="mailForm" value="mail-wizard-form-test"/>
<form action="" id="{mailForm}" method="post" name="dmailform" enctype="multipart/form-data">
    <input type="hidden" name="cmd" value="{test.cmd}">
    <input type="hidden" name="mailUid" value="{test.mailUid}">
    <input type="hidden" name="pageUid" value="{test.pageUid}">
    <input type="hidden" name="currentCMD" value="{test.currentCMD}">
</form>
<f:render partial="Wizard/Navigation" arguments="{navigation: navigation, mailForm:mailForm, lll:lll}"/>

</html>
