<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <h1><f:translate key="{lll}dmail_wizard_title"/></h1>
    <f:render partial="Wizard/Steps" arguments="{navigation: navigation}"/>
    <h3>
        <f:translate key="{lll}dmail_wiz1_new_mail"/>
        -
        <f:translate key="{lll}dmail_wiz1_select_nl_source"/>
    </h3>
    <div class="panel-group" id="mail-wizard-source-select-panel">
        <f:if condition="{panel.open.data}">
            <f:variable name="counter" value="{panel.open.data -> f:count()}"/>
            <f:variable name="title"><f:translate key="{lll}dmail_wiz1_list_dmail"/></f:variable>
            <f:render partial="Panel" arguments="{lll:lll, parentId:'mail-wizard-source-select-panel', title: title, index:7, open:panel.open.open, counter: counter}" contentAs="panelBody">
                <f:render section="OpenMailsPanel" arguments="{lll:lll, data: panel.open, mailSysFolderUid:mailSysFolderUid}" />
            </f:render>
        </f:if>
        <f:if condition="{panel.internal}">
            <f:variable name="counter" value="{panel.internal.data -> f:count()}"/>
            <f:variable name="title"><f:translate key="{lll}dmail_wiz1_internal_page"/></f:variable>
            <f:variable name="additionalHeading"><f:be.pageInfo /> <f:be.pagePath /></f:variable>
            <f:render partial="Panel" arguments="{lll:lll, parentId:'mail-wizard-source-select-panel', title: title, index:4, open:panel.internal.open, counter: counter, additionalHeading: additionalHeading}" contentAs="panelBody">
                <f:render section="InternalPanel" arguments="{lll:lll, data: panel.internal, mailSysFolderUid:mailSysFolderUid}" />
            </f:render>
        </f:if>
        <f:if condition="{panel.external}">
            <f:variable name="title"><f:translate key="{lll}dmail_wiz1_external_page"/></f:variable>
            <f:render partial="Panel" arguments="{lll:lll, parentId:'mail-wizard-source-select-panel', title: title, index:5, open:panel.external.open, counter: 0}" contentAs="panelBody">
                <f:render section="ExternalPanel" arguments="{lll:lll, settings: settings, data: panel.external}" />
            </f:render>
        </f:if>
        <f:if condition="{panel.quickMail}">
            <f:variable name="title"><f:translate key="{lll}dmail_wiz1_quickmail"/></f:variable>
            <f:render partial="Panel" arguments="{lll:lll, parentId:'mail-wizard-source-select-panel', title: title, index:6, open:panel.quickMail.open, counter: 0}" contentAs="panelBody">
                <f:render section="QuickMailPanel" arguments="{lll:lll, settings: settings, data: panel.quickMail}" />
            </f:render>
        </f:if>
    </div>
</f:section>


<f:section name="OpenMailsPanel">
    <f:variable name="lllTypePrefix" value="LLL:EXT:mail/Resources/Private/Language/locallang_tca.xlf:sys_dmail.type.I." />
    <div class="panel panel-default">
        <table class="table table-striped table-hover">
            <thead class="table-light">
            <tr>
                <th style="width: 1%">&nbsp;</th>
                <th class="col-title col-responsive nowrap"><f:translate key="{lll}nl_l_subject"/></th>
                <th><f:translate key="{lll}nl_l_type"/></th>
                <th><f:translate key="{lll}nl_l_lastM"/></th>
                <th><f:translate key="{lll}nl_l_size"/></th>
                <th><f:translate key="{lll}nl_l_attach"/></th>
                <th class="col-control nowrap"></th>
                <th class="col-control nowrap"></th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{data.data}" as="row">
                <tr>
                    <td class="col-icon nowrap" style="width: 1%">
                        <core:iconForRecord row="{uid: row.uid, type:0}" table="tx_mail_domain_model_mail"/>
                    </td>
                    <td class="col-title col-responsive nowrap">
                        {row.subject}
                    </td>
                    <td class="nowrap"><f:translate key="{lllTypePrefix}{row.type}"/></td>
                    <td class="nowrap">{row.lastModified -> f:format.date(format:'H:i d-m-Y')}</td>
                    <td class="nowrap">{row.renderedSize -> f:format.bytes()}</td>
                    <td class="nowrap"><f:if condition="{row.attachment}">
                        <core:icon identifier="mail-attachment" size="small"/>
                    </f:if></td>
                    <td class="nowrap">
                        <f:if condition="!{row.scheduledBegin}">
                            <f:link.action action="delete" arguments="{mail:row.uid}" class="btn btn-default" title="Delete mail"><core:icon identifier="actions-edit-delete" size="small"/></f:link.action>
                        </f:if>
                    </td>
                    <td class="col-control nowrap">
                        <f:link.action action="openMail" arguments="{mail:row.uid}" class="btn btn-primary text-uppercase">NEXT</f:link.action>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:section>

<f:section name="InternalPanel">
    <f:if condition="{data.data}">
        <f:then>
            <f:render partial="InfoBox" arguments="{field: 'select_newsletter'}" />
            <div class="panel panel-default">
                <table class="table table-striped table-hover">
                    <thead class="table-light">
                    <tr>
                        <th style="width: 1%"></th>
                        <th class="col-title col-responsive nowrap">Page</th>
                        <th class="nowrap"></th>
                        <th class="col-control nowrap"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{data.data}" as="row">
                        <tr class="db_list_normal">
                            <td class="col-icon nowrap" style="width: 1%"><core:iconForRecord row="{uid: row.uid, type:0}" table="tx_mail_domain_model_mail"/></td>
                            <td class="col-title col-responsive nowrap">{row.title}</td>
                            <td class="nowrap">
                                <be:link.editRecord uid="{row.uid}" table="pages" class="btn btn-default" title="{f:translate(key: '{lll}nl_editPage')}">
                                    <core:icon identifier="actions-open" size="small"/>
                                </be:link.editRecord>
                                <f:variable name="previewLinks" value="{mail:previewLinks(data:row,pageId:mailSysFolderUid)}"/>
                                <f:for each="{previewLinks}" as="previewLinks" key="type">
                                    <f:if condition="{type} == 'htmlPreview'">
                                        <f:variable name="addIconOverlay" value="0" />
                                        <f:if condition="{previewLinks -> f:count()} > 1">
                                            <f:variable name="addIconOverlay" value="1" />
                                        </f:if>
                                        <f:for each="{previewLinks}" as="htmlPreviewLink">
                                            <f:variable name="overlay" value="" />
                                            <f:if condition="{addIconOverlay}">
                                                <f:variable name="iconOverlay" value="{htmlPreviewLink.data-flag-icon}" />
                                            </f:if>
                                            <a href="#" class="btn btn-default" title="{htmlPreviewLink.title}" data-dispatch-action="{htmlPreviewLink.data-dispatch-action}" data-dispatch-args="{htmlPreviewLink.data-dispatch-args}"><core:icon identifier="mail-preview-html" overlay="{iconOverlay}" size="small"/></a>
                                        </f:for>
                                    </f:if>
                                    <f:if condition="{type} == 'textPreview'">
                                        <f:variable name="addIconOverlay" value="0" />
                                        <f:if condition="{previewLinks -> f:count()} > 1">
                                            <f:variable name="addIconOverlay" value="1" />
                                        </f:if>
                                        <f:for each="{previewLinks}" as="textPreviewLink">
                                            <f:variable name="overlay" value="" />
                                            <f:if condition="{addIconOverlay}">
                                                <f:variable name="iconOverlay" value="{textPreviewLink.data-flag-icon}" />
                                            </f:if>
                                            <a href="#" class="btn btn-default" title="{textPreviewLink.title}" data-dispatch-action="{textPreviewLink.data-dispatch-action}" data-dispatch-args="{textPreviewLink.data-dispatch-args}"><core:icon identifier="mail-preview-text" overlay="{iconOverlay}" size="small"/></a>
                                        </f:for>
                                    </f:if>
                                </f:for>
                            </td>
                            <td class="col-control nowrap">
                                <f:link.action action="createMailFromInternalPage" arguments="{page: row.uid}" class="btn btn-primary text-uppercase">NEXT</f:link.action>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </f:then>
        <f:else>
            <f:be.infobox state="-1" title="{f:translate(key: '{lll}nl_select')}">
                <f:translate key="{lll}nl_select_msg1"/>
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>

<f:section name="ExternalPanel">
    <f:render partial="InfoBox" arguments="{field: 'create_directmail_from_url'}" />
    <f:form action="createMailFromExternalUrls" object="external" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="externalMailHtmlUri" class="form-label"><f:translate key="{lll}dmail_HTML_url"/></label>
            <f:form.textfield id="externalMailHtmlUri" type="url" placeholder="https://" property="htmlUrl" name="htmlUrl" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="externalMailPlainUri" class="form-label"><f:translate key="{lll}dmail_plaintext_url"/></label>
            <f:form.textfield id="externalMailPlainUri" type="url" placeholder="https://" property="plainUrl" name="plainTextUrl" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="subjectForExternalMail" class="form-label"><f:translate key="{lll}dmail_subject"/></label>
            <f:form.textfield id="subjectForExternalMail" type="text" placeholder="{f:translate(key: '{lll}dmail_write_subject')}" property="subject" name="subject" class="form-control" required="1" />
        </div>
        <button class="btn btn-primary text-uppercase" type="submit"><f:translate key="{lll}dmail_wiz_next" /></button>
    </f:form>
</f:section>

<f:section name="QuickMailPanel">
    <f:render partial="InfoBox" arguments="{field: 'quick_mail'}" />
    <f:form action="createQuickMail" method="post" object="quickMail" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="quickmailFromName" class="form-label"><f:translate key="{lll}quickmail_sender_name"/></label>
            <f:form.textfield id="quickmailFromName" type="text" name="fromName" value="{data.fromName}" class="form-control" required="1" />
        </div>
        <div class="mb-3">
            <label for="quickmailFromEmail" class="form-label"><f:translate key="{lll}quickmail_sender_email"/></label>
            <f:form.textfield id="quickmailFromEmail" type="email" name="fromEmail" value="{data.fromEmail}" class="form-control" required="1" />
        </div>
        <div class="mb-3">
            <label for="quickmailSubject" class="form-label"><f:translate key="{lll}dmail_subject"/></label>
            <f:form.textfield id="quickmailSubject" type="text" name="subject" class="form-control" required="1" />
        </div>
        <div class="mb-3">
            <label for="quickmailMessage" class="form-label"><f:translate key="{lll}quickmail_message"/></label>
            <f:form.textarea id="quickmailMessage" rows="10" name="message" class="form-control"></f:form.textarea>
        </div>
        <div class="form-check mb-3">
            <f:form.checkbox id="quickmailBreakLines" class="form-check-input mt-1" name="breakLines" value="1" />
            <label for="quickmailBreakLines" class="form-check-label"><f:translate key="{lll}quickmail_break_lines"/></label>
        </div>
        <button class="btn btn-primary text-uppercase" type="Submit"><f:translate key="{lll}dmail_wiz_next" /></button>
    </f:form>
</f:section>
</html>
