<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/locallang_mod2-6.xlf:"/>
    <h1><f:translate key="{lll}dmail_wizard_title"/></h1>
    <f:render partial="Wizard/Steps" arguments="{navigation: navigation}"/>
    <h2><f:translate key="{lll}dmail_wiz2_detail"/></h2>
    <f:if condition="{data}">
        <h3><core:iconForRecord table="sys_dmail" row="{data}" size="default" /> {title}</h3>
        <f:if condition="{allowEdit} && !{isSent}">
            <f:then>
                <be:link.editRecord uid="{mailUid}" table="{table}" class="btn btn-default mb-3">
                    <core:icon identifier="actions-open" />
                    <f:translate key="{lll}dmail_edit_info"/>
                </be:link.editRecord>
            </f:then>
            <f:else>
                <f:be.infobox state="1"><f:translate key="{lll}dmail_noEdit_noPerms"/></f:be.infobox>
            </f:else>
        </f:if>
        <f:if condition="{data.isSent}">
            <f:be.infobox state="-1"><f:translate key="{lll}dmail_noEdit_isSent"/></f:be.infobox>
        </f:if>
        <f:if condition="{data}">
            <div role="tabpanel">
                <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
                    <li role="presentation" class="t3js-tabmenu-item">
                        <a href="#tab-1" title="" aria-controls="tab-1" role="tab" data-bs-toggle="tab" aria-selected="true" class="active">
                            Composition
                        </a>
                    </li>
                    <li role="presentation" class="t3js-tabmenu-item ">
                        <a href="#tab-2" title="" aria-controls="tab-2" role="tab" data-bs-toggle="tab" aria-selected="false">
                            Mail headers
                        </a>
                    </li>
                    <li role="presentation" class="t3js-tabmenu-item ">
                        <a href="#tab-3" title="" aria-controls="tab-3" role="tab" data-bs-toggle="tab" aria-selected="false">
                            Send options
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-1">
                        <div class="panel panel-tab">
                            <div class="panel-body">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                    <f:for each="{data.composition}" as="column">
                                        <tr>
                                            <th style="width:20%; min-width:300px">{column.title}</th>
                                            <td>{column.value}</td>
                                        </tr>
                                    </f:for>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-2">
                        <div class="panel panel-tab">
                            <div class="panel-body">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                    <f:for each="{data.headers}" as="column">
                                        <tr>
                                            <th style="width:20%; min-width:300px">{column.title}</th>
                                            <td>{column.value}</td>
                                        </tr>
                                    </f:for>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-3">
                        <div class="panel panel-tab">
                            <div class="panel-body">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                    <f:for each="{data.sending}" as="column">
                                        <tr>
                                            <th style="width:20%; min-width:300px">{column.title}</th>
                                            <td>{column.value}</td>
                                        </tr>
                                    </f:for>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:if>
    </f:if>
    <f:render partial="Wizard/Navigation" arguments="{mail:mailUid, previousAction: navigation.previousAction, nextAction: navigation.nextAction, lll:lll}"/>
</f:section>
</html>
