<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h3>
    <f:translate key="{lll}stats_overview_choose"/>
</h3>
<div class="panel panel-default mb-3">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-icon nowrap">&nbsp;</th>
            <th class="col-title col-responsive nowrap">
                <f:translate key="{lll}stats_overview_subject"/>
            </th>
            <th class="nowrap">
                <f:translate key="{lll}stats_overview_scheduled"/>
            </th>
            <th class="nowrap">
                <f:translate key="{lll}stats_overview_delivery_begun"/>
            </th>
            <th class="nowrap">
                <f:translate key="{lll}stats_overview_delivery_ended"/>
            </th>
            <th nowrap="nowrap" style="min-width:200px">
                <f:translate key="{lll}stats_overview_total_sent"/></th>
            <th class="nowrap">
                <f:translate key="{lll}stats_overview_status"/>
            </th>
        </tr>
        </thead>
        <f:for each="{dataPageInfo}" as="row">
            <tr class="db_list_normal">
                <td class="col-icon nowrap">
                    <core:iconForRecord row="{row}" table="sys_dmail" size="small" />
                </td>
                <td class="col-title col-responsive nowrap">
                    <f:format.html>{row.subject}</f:format.html>
                </td>
                <td class="nowrap">{row.scheduled}</td>
                <td class="nowrap">{row.scheduled_begin}</td>
                <td class="nowrap">{row.scheduled_end}</td>
                <td class="nowrap">
                    <div class="progress">
                        <f:if condition="{row.percentOfSent} == 100">
                            <f:variable name="finished" value="bg-success" />
                        </f:if>
                        <div class="progress-bar {finished}" role="progressbar" style="width: {row.percentOfSent}%"  aria-valuenow="{row.sent}" aria-valuemin="0" aria-valuemax="{row.numberOfRecipients}">{row.sent}/{row.numberOfRecipients}</div>
                    </div>
                </td>
                <td class="nowrap text-center">
                    <f:if condition="{row.status} == 'sent'">
                        <core:icon identifier="status-dialog-ok"/>
                    </f:if>
                    <f:if condition="{row.status} == sending">
                        <core:icon identifier="spinner-circle"/>
                    </f:if>
                    <f:if condition="{row.status} == queuing">
                        <core:icon identifier="actions-clock"/>
                    </f:if>
                </td>
            </tr>
        </f:for>
    </table>
</div>

</html>
