<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/locallang_mod2-6.xlf:"/>
    <h1><f:translate key="{lll}dmail_wizard_title"/></h1>
    <f:render arguments="{navigation: data.navigation, lll:lll}" section="Steps"/>
    <f:if condition="{data.default}">
        <h3>
            <f:translate key="{lll}dmail_wiz1_new_newsletter"/>
            -
            <f:translate key="{lll}dmail_wiz1_select_nl_source"/>
        </h3>
        <div class="panel-group" id="mail-wizard-source-select-panel">
            <f:if condition="{data.default.dmail.data}">
                <f:render
                    arguments="{
                        lll: lll,
                        parentId: 'mail-wizard-source-select-panel',
                        data: data.default.dmail,
                        index: 7,
                        section: 'OpenMailsPanel',
                        title: 'dmail_wiz1_list_dmail'
                    }"
                    section="Panel"
                />
            </f:if>
            <f:if condition="{data.default.internal}">
                <f:render
                    arguments="{
                        lll: lll,
                        parentId: 'mail-wizard-source-select-panel',
                        data: data.default.internal,
                        index: 4,
                        section: 'InternalPanel',
                        title: 'dmail_wiz1_internal_page'
                    }"
                    section="Panel"
                />
            </f:if>
            <f:if condition="{data.default.external}">
                <f:render
                    arguments="{
                        lll: lll,
                        parentId: 'mail-wizard-source-select-panel',
                        data: data.default.external,
                        index: 5,
                        section: 'ExternalPanel',
                        title: 'dmail_wiz1_external_page'
                    }"
                    section="Panel"
                />
            </f:if>
            <f:if condition="{data.default.quick}">
                <f:render
                    arguments="{
                        lll: lll,
                        parentId: 'mail-wizard-source-select-panel',
                        data: data.default.quick,
                        index: 6,
                        section: 'QuickMailPanel',
                        title: 'dmail_wiz1_quickmail'
                    }"
                    section="Panel"
                />
            </f:if>
        </div>
    </f:if>
    <f:if condition="{data.info}">
        <h3><f:translate key="{lll}dmail_wiz2_detail"/></h3>
        <f:variable name="mailForm" value="mail-wizard-form-info"/>
        <form action="" id="{mailForm}" method="post" name="dmailform" enctype="multipart/form-data">
            <input type="hidden" name="currentCMD" value="{data.info.currentCMD}">
            <input type="hidden" name="sys_dmail_uid" value="{data.info.sys_dmail_uid}">
            <f:if condition="{data.info.internal}">
                <input type="hidden" name="cmd" value="{data.info.internal.cmd}">
            </f:if>
            <f:if condition="{data.info.external}">
                <input type="hidden" name="cmd" value="{data.info.external.cmd}">
            </f:if>
            <f:if condition="{data.info.dmail}">
                <input type="hidden" name="cmd" value="{data.info.dmail.cmd}">
            </f:if>
            <f:if condition="{data.info.pages_uid}">
                <input type="hidden" name="pages_uid" value="{data.info.pages_uid}">
            </f:if>
            <f:if condition="{data.info.quickmail}">
                <input type="hidden" name="cmd" value="{data.info.quickmail.cmd}">
                <input type="hidden" name="quickmail[senderName]" value="{data.info.quickmail.senderName}"/>
                <input type="hidden" name="quickmail[senderEmail]" value="{data.info.quickmail.senderEmail}"/>
                <input type="hidden" name="quickmail[subject]" value="{data.info.quickmail.subject}"/>
                <input type="hidden" name="quickmail[message]" value="{data.info.quickmail.message}"/>
                <input type="hidden" name="quickmail[breakLines]" value="{data.info.quickmail.breakLines}"/>
            </f:if>
            <f:if condition="{data.info.table}">
                <h3><core:iconForRecord table="sys_dmail" row="{data.info.table.tableRows}" size="default" /> {data.info.table.title}</h3>
                <f:if condition="{data.info.table.allowEdit} && !{data.info.table.isSent}">
                    <f:then>
                        <be:link.editRecord uid="{data.info.sys_dmail_uid}" table="sys_dmail" class="btn btn-default mb-3">
                            <core:icon identifier="actions-open" />
                            <f:translate key="{lll}dmail_edit_info"/>
                        </be:link.editRecord>
                    </f:then>
                    <f:else>
                        <f:be.infobox state="1"><f:translate key="{lll}dmail_noEdit_noPerms"/></f:be.infobox>
                    </f:else>
                </f:if>
                <f:if condition="{data.info.table.isSent}">
                    <f:be.infobox state="-1"><f:translate key="{lll}dmail_noEdit_isSent"/></f:be.infobox>
                </f:if>
                <f:if condition="{data.info.table.tableRows}">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
                            <li role="presentation" class="t3js-tabmenu-item">
                                <a href="#tab-1" title="" aria-controls="tab-1" role="tab" data-bs-toggle="tab" aria-selected="true" class="active">
                                    Composition
                                </a>
                            </li>
                            <li role="presentation" class="t3js-tabmenu-item ">
                                <a href="#tab-2" title="" aria-controls="tab-2" role="tab" data-bs-toggle="tab" aria-selected="false">
                                    Mail headers
                                </a>
                            </li>
                            <li role="presentation" class="t3js-tabmenu-item ">
                                <a href="#tab-3" title="" aria-controls="tab-3" role="tab" data-bs-toggle="tab" aria-selected="false">
                                    Send options
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab-1">
                                <div class="panel panel-tab">
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                            <f:for each="{data.info.table.tableRows.composition}" as="column">
                                                <tr>
                                                    <th style="width:20%; min-width:300px">{column.title}</th>
                                                    <td>{column.value}</td>
                                                </tr>
                                            </f:for>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-2">
                                <div class="panel panel-tab">
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                            <f:for each="{data.info.table.tableRows.headers}" as="column">
                                                <tr>
                                                    <th style="width:20%; min-width:300px">{column.title}</th>
                                                    <td>{column.value}</td>
                                                </tr>
                                            </f:for>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-3">
                                <div class="panel panel-tab">
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                            <f:for each="{data.info.table.tableRows.sending}" as="column">
                                                <tr>
                                                    <th style="width:20%; min-width:300px">{column.title}</th>
                                                    <td>{column.value}</td>
                                                </tr>
                                            </f:for>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:if>
            </f:if>
        </form>
    </f:if>
    <f:if condition="{data.cats}">
        <h3><f:translate key="{lll}dmail_wiz3_cats"/></h3>
        <f:variable name="mailForm" value="mail-wizard-form-categories"/>
        <form action="" id="{mailForm}" method="post" name="dmailform" enctype="multipart/form-data">
            <input type="hidden" name="currentCMD" value="{data.cats.currentCMD}">
            <input type="hidden" name="sys_dmail_uid" value="{data.cats.sys_dmail_uid}">
            <h4>{data.cats.output.title}</h4>
            <f:render section="InfoBox" arguments="{field: 'assign_categories'}" />
            <f:if condition="{data.cats.output.rowsFound}">
                <f:if condition="{data.cats.output.rows -> f:count()}">
                    <table class="mb-4 table table-striped table-hover">
                        <tbody>
                        <f:for each="{data.cats.output.rows}" as="row">
                            <tr>
                                <f:if condition="{row.separator}">
                                    <f:then>
                                        <td colspan="3">{row.title}: <strong>{row.value -> f:format.html()}</strong></td>
                                    </f:then>
                                    <f:else>
                                        <td style="width: 75%">
                                            {row.icon -> f:format.html()} {row.header}
                                            [{row.CType}
                                            <f:if condition="{row.list_type}">; {row.list_type}</f:if>
                                            ]
                                            <br>
                                            {row.bodytext -> f:format.html()}
                                            <br/>
                                        </td>
                                        <td class="text-nowrap">
                                            <strong style="color:{row.color};">{row.labelOnlyAll}</strong><br/>
                                            <f:if condition="{row.checkboxes -> f:count()}">
                                                <f:for each="{row.checkboxes}" as="checkbox">
                                                    <input type="hidden" name="indata[categories][{row.uid}][{checkbox.pKey}]" value="0">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="1" id="indata_categories_{row.uid}_{checkbox.pKey}" name="indata[categories][{row.uid}][{checkbox.pKey}]" {f:if(condition: '{checkbox.checked} == 1', then: 'checked')}>
                                                        <label class="form-check-label" for="indata_categories_{row.uid}_{checkbox.pKey}">
                                                            {checkbox.pVal}
                                                        </label>
                                                    </div>
                                                </f:for>
                                            </f:if>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>
                        </f:for>
                        </tbody>
                        {data.cats.catsForm -> f:format.html()}
                    </table>
                </f:if>
                <input type="hidden" name="cmd" value="{data.cats.output.cmd}">
                <input type="hidden" name="pages_uid" value="{data.cats.output.pages_uid}">
                <input class="btn btn-default" type="submit" name="update_cats" value="{data.cats.output.update_cats -> f:format.html()}">
            </f:if>
            <input type="hidden" name="cmd" value="{data.cats.cmd}">
            <input type="hidden" name="pages_uid" value="{data.cats.pages_uid}">
        </form>
    </f:if>
    <f:if condition="{data.test}">
        <f:variable name="mailForm" value="mail-wizard-form-test"/>
        <form action="" id="{mailForm}" method="post" name="dmailform" enctype="multipart/form-data">
        <h3>
            <f:translate key="{lll}dmail_wiz4_testmail"/>
        </h3>
        <div class="mb-4">
            <f:if condition="{data.test.testFormData.test_tt_address}">
                <h3>
                    <f:translate key="{lll}testmail_individual"/>
                </h3>
                <f:translate key="{lll}testmail_individual_msg"/>
                <div class="my-3">
                    {data.test.testFormData.test_tt_address -> f:format.html()}
                </div>
            </f:if>
            <f:if condition="{data.test.testFormData.test_dmail_group_table -> f:count()}">
                <h3>
                    <f:translate key="{lll}testmail_mailgroup"/>
                </h3>
                <f:translate key="{lll}testmail_mailgroup_msg"/>
                <div class="my-3">
                <f:for each="{data.test.testFormData.test_dmail_group_table}" as="table">
                    <a href="{table.moduleUrl}">{table.iconFactory -> f:format.html()} {table.title}</a>
                    <div class="my-3">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>{table.tds -> f:format.html()}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </f:for>
                </div>
            </f:if>
            <h3>
                <f:translate key="{lll}testmail_simple"/>
            </h3>
            <div class="mb-3">
                <f:translate key="{lll}testmail_simple_msg"/>
            </div>
            <input type="hidden" name="id" value="{data.test.testFormData.id}"/>
            <input type="hidden" name="sys_dmail_uid" value="{data.test.testFormData.sys_dmail_uid}"/>
            <input type="hidden" name="cmd" value="{data.test.testFormData.cmd}"/>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="input-group">
                        <input class="form-control" type="email" placeholder="Mail address" name="SET[dmail_test_email]" value="{data.test.testFormData.dmail_test_email}" aria-label="Test mail recipient" aria-describedby="send-test-mail-button"/>
                        <button class="btn btn-outline-primary" id="send-test-mail-button" type="submit" name="mailingMode_simple" value="1"><f:translate key="{lll}dmail_send"/></button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="cmd" value="{data.test.cmd}">
        <input type="hidden" name="sys_dmail_uid" value="{data.test.sys_dmail_uid}">
        <input type="hidden" name="pages_uid" value="{data.test.pages_uid}">
        <input type="hidden" name="currentCMD" value="{data.test.currentCMD}">
        </form>
    </f:if>
    <f:if condition="{data.final.finalForm}">
        <f:variable name="mailForm" value="mail-wizard-form-final"/>
        <form action="" id="{mailForm}" method="post" name="dmailform" enctype="multipart/form-data">
            <h3>
                <f:translate key="{lll}dmail_wiz5_sendmass"/>
            </h3>
            <div class="mb-4">
                <h3>
                    <f:translate key="{lll}schedule_select_mailgroup"/>
                </h3>
                <input type="hidden" name="id" value="{data.final.finalForm.id}"/>
                <input type="hidden" name="sys_dmail_uid" value="{data.final.finalForm.sys_dmail_uid}"/>
                <input type="hidden" name="cmd" value="{data.final.cmd}">
                <input type="hidden" name="pages_uid" value="{data.final.pages_uid}">
                <input type="hidden" name="currentCMD" value="{data.final.currentCMD}">
                <div class="my-3">
                    {data.final.finalForm.groupInput -> f:format.html()}
                </div>
                <div class="my-3">
                    {data.final.finalForm.hookContents -> f:format.html()}
                </div>
                {data.final.finalForm.mailGroups -> f:debug(inline:1)}
                <f:if condition="{data.final.finalForm.mailGroups}">
                    <f:then>
                        <f:variable name="numberOfRecipientGroups" value="{data.final.finalForm.mailGroups -> f:count()}" />
                        <f:if condition="{numberOfRecipientGroups} == 1">
                            <f:then>
                                <f:variable name="group">{data.final.finalForm.mailGroups.0}</f:variable>
                                <label class="form-label"><f:translate key="{lll}schedule_mailgroup"/></label>
                                <input type="hidden" name="mailgroup_uid[]" value="{group.uid}" />
                                <ul>
                                    <li title="{group.uid}">{group.title}<f:if condition="{group.receiver}"><span class="badge rounded-pill bg-primary ms-1 pb-1">{group.receiver}</span></f:if></li>
                                </ul>
                            </f:then>
                            <f:else>
                                <label class="form-label" for="mailgroups"><f:translate key="{lll}schedule_mailgroup"/></label>
                                <select class="form-select" id="mailgroups" name="mailgroup_uid[]" multiple size="{numberOfRecipientGroups}" aria-label="Recipient groups">
                                <f:for each="{data.final.finalForm.mailGroups}" as="group">
                                    <option value="{group.uid}">{group.title} <f:if condition="{group.receiver}"><span class="badge rounded-pill bg-primary ms-1 pb-1">{group.receiver}</span></f:if></option>
                                </f:for>
                                </select>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:be.infobox state="2"><f:translate key="{lll}error.no_recipient_groups_found"/></f:be.infobox>
                    </f:else>
                </f:if>
                <div class="mb-3">
                    <label for="send_mail_datetime" class="form-label"><f:translate key="{lll}schedule_time"/></label>
                    <div class="input-group">
                        <input autocomplete="off" data-date-type="datetime" class="form-control t3js-datetimepicker t3js-clearable" id="send_mail_datetime" type="text" name="send_mail_datetime" value="{f:format.date(format:'H:i d-m-Y', date:'now')}" />
                        <label class="mb-0 btn btn-default" for="send_mail_datetime">
                            <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-calendar" data-identifier="actions-calendar">
                                <span class="icon-markup">
                                    <svg class="icon-color"><use xlink:href="/typo3/sysext/core/Resources/Public/Icons/T3Icons/sprites/actions.svg#actions-calendar" /></svg>
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="testmail" id="tx-directmail-sendtestmail-check" value="1"/>
                    <label class="form-check-label" for="tx-directmail-sendtestmail-check"><f:translate key="{lll}schedule_testmail"/></label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="savedraft" id="tx-directmail-savedraft-check" value="1"/>
                    <label class="form-check-label" for="tx-directmail-savedraft-check"><f:translate key="{lll}schedule_draft"/></label>
                </div>
                <button class="btn btn-lg btn-primary text-uppercase" type="Submit" name="mailingMode_mailGroup" value="1"><f:translate key="{lll}schedule_send_all"/></button>
            </div>
        </form>
    </f:if>
    <f:render arguments="{navigation: data.navigation, mailForm:mailForm, lll:lll}" section="Navigation"/>
</f:section>

<f:section name="Steps">
    <div class="mail-wizard-navigation mb-4">
        <ul>
            <f:for each="{navigation.steps}" key="step" as="val" iteration="stepIterator">
                <li class="{f:if(condition: '{navigation.currentStep} == {step}', then: 'current', else: '')} {f:if(condition: '{stepIterator.isLast}', then:'last')}"><span class="title">{step}</span></li>
            </f:for>
        </ul>
    </div>
</f:section>

<f:section name="Navigation">
    <f:variable name="disabled"></f:variable>
    <f:if condition="{navigation.next_error}">
        <f:variable name="disabled">disabled</f:variable>
    </f:if>
    <div class="mt-4">
        <f:if condition="{navigation.back}">
            <button form="{mailForm}" type="submit" class="btn btn-default text-uppercase" value="back" name="back"><f:translate key="{lll}dmail_wiz_back" /></button>
        </f:if>
        <f:if condition="{navigation.next}">
            <button form="{mailForm}" type="submit" class="btn btn-primary text-uppercase {disabled}" {disabled}><f:translate key="{lll}dmail_wiz_next" /></button>
        </f:if>
    </div>
</f:section>

<f:comment><!--
    Parameters:
    - lll: language file prefix
    - parentId: id of the parent html element
    - data: all configuration options
    - index: numeric section index
    - title: panel title
    - section: section that renders content
--></f:comment>
<f:section name="Panel">
    <f:variable name="expanded" value="false"/>
    <f:variable name="classCollapsed" value="collapsed"/>
    <f:variable name="classShow" value=""/>
    <f:if condition="{data.open}">
        <f:variable name="expanded" value="true"/>
        <f:variable name="classCollapsed" value=""/>
        <f:variable name="classShow" value="show"/>
    </f:if>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" id="heading{index}">
                <a href="#" class="{classCollapsed}" data-bs-toggle="collapse" data-bs-target="#panel{index}" aria-expanded="{expanded}" aria-controls="panel{index}">
                    <span class="caret"></span>
                    <strong><f:translate key="{lll}{title}"/></strong>
                    <f:if condition="{data.internalPages}"><span class="badge rounded-pill bg-primary ms-1 pb-1">{data.internalPages -> f:count()}</span></f:if>
                    <f:if condition="{data.data}"><span class="badge rounded-pill bg-primary ms-1 pb-1">{data.data -> f:count()}</span></f:if>
                </a>
                <span class="float-end"><f:if condition="{index} == 4"><f:be.pageInfo /> <f:be.pagePath /></f:if></span>
            </h3>
        </div>
        <div id="panel{index}" class="accordion-collapse collapse {classShow}" aria-labelledby="heading{index}" data-bs-parent="#{parentId}">
            <div class="panel-body {classPanelBody}">
                <f:render section="{section}" arguments="{_all}"/>
            </div>
        </div>
    </div>
</f:section>

<f:section name="InfoBox">
    <f:be.infobox state="-1">
        <mail:help table="_MOD_MailNavFrame_Mail" field="{field}"/>
    </f:be.infobox>
</f:section>

<f:section name="InternalPanel">
    <f:if condition="{data.internalPages}">
        <f:then>
            <f:render section="InfoBox" arguments="{field: 'select_newsletter'}" />
            <table class="table table-striped table-hover">
                <thead class="table-light">
                <tr>
                    <th style="width: 1%"></th>
                    <th class="col-title col-responsive nowrap">Page</th>
                    <th class="nowrap"></th>
                    <th class="col-control nowrap"></th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{data.internalPages}" as="row">
                    <tr class="db_list_normal">
                        <td class="col-icon nowrap" style="width: 1%"><core:iconForRecord row="{row}" table="sys_dmail"/></td>
                        <td class="col-title col-responsive nowrap">{row.title}</td>
                        <td class="nowrap">
                            <a class="btn btn-default" href="{row.editUri}" title="{f:translate(key: '{lll}nl_editPage')}">
                                <core:icon identifier="actions-open" size="small"/>
                            </a>
                            <f:for each="{row.previewLinks}" as="previewLinks" key="type">
                                <f:if condition="{type} == 'htmlPreview'">
                                    <f:variable name="addIconOverlay" value="0" />
                                    <f:if condition="{previewLinks -> f:count()} > 1">
                                        <f:variable name="addIconOverlay" value="1" />
                                    </f:if>
                                    <f:for each="{previewLinks}" as="htmlPreviewLink">
                                        <f:variable name="overlay" value="" />
                                        <f:if condition="{addIconOverlay}">
                                            <f:variable name="iconOverlay" value="{htmlPreviewLink.data-flag-icon}" />
                                        </f:if>
                                        <a href="#" class="btn btn-default" title="{htmlPreviewLink.title}" data-dispatch-action="{htmlPreviewLink.data-dispatch-action}" data-dispatch-args="{htmlPreviewLink.data-dispatch-args}"><core:icon identifier="mail-preview-html" overlay="{iconOverlay}" size="small"/></a>
                                    </f:for>
                                </f:if>
                                <f:if condition="{type} == 'textPreview'">
                                    <f:variable name="addIconOverlay" value="0" />
                                    <f:if condition="{previewLinks -> f:count()} > 1">
                                        <f:variable name="addIconOverlay" value="1" />
                                    </f:if>
                                    <f:for each="{previewLinks}" as="textPreviewLink">
                                        <f:variable name="overlay" value="" />
                                        <f:if condition="{addIconOverlay}">
                                            <f:variable name="iconOverlay" value="{textPreviewLink.data-flag-icon}" />
                                        </f:if>
                                        <a href="#" class="btn btn-default" title="{textPreviewLink.title}" data-dispatch-action="{textPreviewLink.data-dispatch-action}" data-dispatch-args="{textPreviewLink.data-dispatch-args}"><core:icon identifier="mail-preview-text" overlay="{iconOverlay}" size="small"/></a>
                                    </f:for>
                                </f:if>
                            </f:for>
                        </td>
                        <td class="col-control nowrap">
                            <a class="btn btn-primary" href="{row.settingsUri}">NEXT</a>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <f:be.infobox state="-1" title="{f:translate(key: '{lll}nl_select')}">
                <f:translate key="{lll}nl_select_msg1"/>
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>

<f:section name="ExternalPanel">
    <f:render section="InfoBox" arguments="{field: 'create_directmail_from_url'}" />
    <form action="" method="post" name="dmailform" enctype="multipart/form-data">
        <input type="hidden" name="cmd" value="info"/>
        <input type="hidden" name="fetchAtOnce" value="1">
        <div class="mb-3">
            <label for="createMailFrom_HTMLUrl" class="form-label"><f:translate key="{lll}dmail_HTML_url"/></label>
            <input id="createMailFrom_HTMLUrl" type="url" placeholder="https://" name="createMailFrom_HTMLUrl" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="createMailFrom_plainUrl" class="form-label"><f:translate key="{lll}dmail_plaintext_url"/></label>
            <input id="createMailFrom_plainUrl" type="url" placeholder="https://" name="createMailFrom_plainUrl" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="createMailSubject" class="form-label"><f:translate key="{lll}dmail_subject"/></label>
            <input id="createMailSubject" type="text" placeholder="{f:translate(key: '{lll}dmail_write_subject')}" name="createMailFrom_URL" class="form-control" required/>
        </div>
        <f:if condition="{data.no_valid_url}">
            <f:be.infobox title="Error" state="2"><f:translate key="{lll}dmail_no_valid_url"/></f:be.infobox>
        </f:if>
        <button class="btn btn-primary text-uppercase" type="submit" value="1"><f:translate key="{lll}dmail_wiz_next" /></button>
    </form>
</f:section>

<f:section name="QuickMailPanel">
    <f:render section="InfoBox" arguments="{field: 'quick_mail'}" />
    <form action="" method="post" name="dmailform" enctype="multipart/form-data">
        <input type="hidden" name="cmd" value="info"/>
        <input type="hidden" name="id" value="{data.id}"/>
        <div class="mb-3">
            <label for="quickmailSenderName" class="form-label"><f:translate key="{lll}quickmail_sender_name"/></label>
            <input id="quickmailSenderName" type="text" name="quickmail[senderName]" value="{data.senderName}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="quickmailSenderEmail" class="form-label"><f:translate key="{lll}quickmail_sender_email"/></label>
            <input id="quickmailSenderEmail" type="email" name="quickmail[senderEmail]" value="{data.senderMail}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="quickmailSubject" class="form-label"><f:translate key="{lll}dmail_subject"/></label>
            <input id="quickmailSubject" type="text" name="quickmail[subject]" value="{data.subject}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="quickmailMessage" class="form-label"><f:translate key="{lll}quickmail_message"/></label>
            <textarea id="quickmailMessage" rows="10" name="quickmail[message]" class="form-control">{data.message -> f:format.html()}</textarea>
        </div>
        <div class="form-check mb-3">
            <input id="quickmailBreakLines" class="form-check-input mt-1" type="checkbox" name="quickmail[breakLines]" value="1" {f:if(condition: '{data.breakLines}', then: 'checked')} />
            <label for="quickmailBreakLines" class="form-check-label"><f:translate key="{lll}quickmail_break_lines"/></label>
        </div>
        <button class="btn btn-primary text-uppercase" type="Submit" name="quickmail[send]" value="1"><f:translate key="{lll}dmail_wiz_next" /></button>
    </form>
</f:section>

<f:section name="OpenMailsPanel">
    <table class="table table-striped table-hover">
        <thead class="table-light">
        <tr>
            <th style="width: 1%">&nbsp;</th>
            <th class="col-title col-responsive nowrap"><f:translate key="{lll}nl_l_subject"/></th>
            <th><f:translate key="{lll}nl_l_type"/></th>
            <th><f:translate key="{lll}nl_l_lastM"/></th>
            <th><f:translate key="{lll}nl_l_size"/></th>
            <th><f:translate key="{lll}nl_l_attach"/></th>
            <th><f:translate key="{lll}nl_l_sent"/></th>
            <th class="col-control nowrap"></th>
            <th class="col-control nowrap"></th>
        </tr>
        </thead>
        <tbody>
            <f:for each="{data.data}" as="row">
                <tr>
                    <td class="col-icon nowrap" style="width: 1%">
                        <core:iconForRecord row="{row}" table="sys_dmail"/>
                    </td>
                    <td class="col-title col-responsive nowrap"><a class="t3-link" href="{row.settingsUri}">
                        {row.subject}
                    </a></td>
                    <td class="nowrap">{row.type}</td>
                    <td class="nowrap">{row.tstamp -> f:format.date(format:'H:i d-m-Y')}</td>
                    <td class="nowrap">{row.size -> f:format.bytes()}</td>
                    <td class="nowrap"><f:if condition="{row.hasAttachment}">
                        <core:icon identifier="mail-attachment" size="small"/>
                    </f:if></td>
                    <td><f:if condition="{row.isSent}">
                            <core:icon identifier="status-status-checked" size="small"/>
                    </f:if></td>
                    <td class="nowrap">
                        <f:if condition="{row.deleteUri}"><a class="btn btn-default" title="delete" href="{row.deleteUri}"><core:icon identifier="actions-edit-delete" size="small"/></a></f:if>
                    </td>
                    <td class="col-control nowrap">
                        <a class="btn btn-primary" href="{row.settingsUri}" title="continue">NEXT</a>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:section>
</html>
