:root {
    --mail-primary: #037eab;
    --mail-primary-rgb: 3,126,171;
    --mail-background-color: #037eab;
    --mail-background-color2: #01729b;
    --mail-active-bg: #0394c8;
    --mail-border-color: #048dc0;
    --mail-hover-border-color: #02688e;
    --mail-active-border-color: #016c92;
    --mail-color: #ffffff;
}

.btn-mail-theme {
    --bs-btn-color: var(--mail-color);
    --bs-btn-bg: var(--mail-background-color);
    --bs-btn-border-color: var(--mail-border-color);
    --bs-btn-hover-color: var(--mail-color);
    --bs-btn-hover-bg: var(--mail-border-color);
    --bs-btn-hover-border-color: var(--mail-hover-border-color);
    --bs-btn-focus-shadow-rgb: 38,118,190;
    --bs-btn-active-color: var(--mail-color);
    --bs-btn-active-bg: var(--mail-active-bg);
    --bs-btn-active-border-color: var(--mail-active-border-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--mail-background-color);
    --bs-btn-disabled-border-color: var(--mail-border-color);
}

.bg-mail-theme {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--mail-primary-rgb),var(--bs-bg-opacity)) !important;
}

.mail-wizard-navigation ul {
    display: flex;
    display: -webkit-flex;
    list-style: none;
    padding-left: 0;
}

.mail-wizard-navigation li .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: var(--mail-color);
    font-size: 1rem;
    font-weight: 600;
}

.mail-wizard-navigation li,
.mail-wizard-navigation li.current {
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}

.mail-wizard-navigation li {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: var(--bs-gray-400);
    margin-right: 30px;
    position: relative;
    outline: none;
}

.mail-wizard-navigation li::before {
    position: absolute;
    content: "";
    background-color: var(--bs-gray-200);
    width: 30px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 100%;
}

.mail-wizard-navigation li.last::before {
    content: none;
}

.mail-wizard-navigation li.current,
.mail-wizard-navigation li.current:active,
.mail-wizard-navigation li.done::before,
.mail-wizard-navigation li.done,
.mail-wizard-navigation li.done:active {
    background-color: var(--mail-background-color);
}

.mail-wizard-preview {
    width:320px;
    height:450px;
    overflow-x: hidden;
    overflow-y:scroll;
}
.mail-wizard-preview-body {
    width:600px;
    height:600px;
    overflow:visible;
    transform: scale(0.5) translate(-50%, -50%);
}
.mail-wizard-preview-body::before {
    position:absolute;
    content:"";
    display:block;
    width:100%;
    height:200%;
    background-color:rgba(0,0,0,0);
}
