:root {
    --mail-primary: #037eab;
    --mail-primary-rgb: 3,126,171;
    --mail-background-color: #037eab;
    --mail-background-color2: #01729b;
    --mail-active-bg: #0394c8;
    --mail-border-color: #048dc0;
    --mail-hover-border-color: #02688e;
    --mail-active-border-color: #016c92;
    --mail-color: #ffffff;
}

[data-module-name="mail_mail"],
[data-module-name="mail_recipient"],
[data-module-name="mail_report"],
[data-module-name="mail_queue"] {
    --module-docheader-bg: var(--mail-primary);
}

[data-module-name="MailMail_MailMail"] .module-docheader,
[data-module-name="MailMail_MailRecipient"] .module-docheader,
[data-module-name="MailMail_MailReport"] .module-docheader,
[data-module-name="MailMail_MailQueue"] .module-docheader {
    background-color: var(--mail-primary);
}

@media (min-width: 992px) {
    [data-module-name="mail_mail"] .module-docheader,
    [data-module-name="mail_recipient"] .module-docheader,
    [data-module-name="mail_report"] .module-docheader,
    [data-module-name="mail_queue"] .module-docheader,
    [data-module-name="MailMail_MailMail"] .module-docheader,
    [data-module-name="MailMail_MailRecipient"] .module-docheader,
    [data-module-name="MailMail_MailReport"] .module-docheader,
    [data-module-name="MailMail_MailQueue"] .module-docheader {
        background-image: url("../../Images/header-bg.png");
        background-repeat: no-repeat;
        background-position-x: 100%;
    }
}


.bg-mail-theme {
    --bs-bg-opacity: 1;
    --badge-default-color: var(--mail-color);
    --typo3-badge-color: var(--mail-color);
    background-color: rgba(var(--mail-primary-rgb),var(--bs-bg-opacity)) !important;
}

.mail-wizard-navigation {
    display: flex;
    align-items: flex-end;
    position: fixed;
    z-index: 300;
    top: 0;
    min-height: var(--module-docheader-height);
    transition: min-height 300ms ease-in-out;
    --bs-heading-color: var(--mail-color);
    padding: .33rem 0;
}
.mail-wizard-navigation > div {
    display: flex;
    align-items: center;
}

[data-module-name="MailMail_MailMail"] .mail-wizard-navigation {
    min-height: 65px;
    color: var(--mail-color);
}

[data-module-name="mail_mail"] .module-docheader-folded + .module-body .mail-wizard-navigation {
    min-height: calc(var(--module-docheader-bar-height) + var(--module-docheader-padding-y) + 2px);
}

[data-module-name="MailMail_MailMail"] .module-docheader-folded + .module-body .mail-wizard-navigation {
    min-height: 32px;
}

.mail-wizard-navigation h1 {
    margin: 0 1.5rem 0 0;
    line-height: 1;
    /*font-size: 1.2rem;*/
    transition: font-size 200ms ease-in-out;
}

[data-module-name="mail_mail"] .module-docheader-folded + .module-body .mail-wizard-navigation h1,
[data-module-name="MailMail_MailMail"] .module-docheader-folded + .module-body .mail-wizard-navigation h1 {
    line-height: 1;
    font-size: 1.2rem;
}

.mail-wizard-navigation ul {
    display: flex;
    display: -webkit-flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.mail-wizard-navigation li .title {
    display: none;
}

.mail-wizard-navigation li,
.mail-wizard-navigation li.current {
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}

.mail-wizard-navigation li {
    display: inline-block;
    width: 8px;
    height: 8px;
    transition: width 200ms ease-in-out, height 200ms ease-in-out, margin-right 200ms ease-in-out;
    border-radius: 50%;
    opacity: .5;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: var(--mail-color);
    margin-right: 8px;
    position: relative;
}

.module-docheader.module-docheader-folded + .module-body .mail-wizard-navigation li,
.module-docheader.module-docheader-folded ~ .module-body .mail-wizard-navigation li {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}


.mail-wizard-navigation li::before {
    position: absolute;
    content: "";
    background-color: var(--bs-gray-400);
    opacity: .5;
    width: 8px;
    height: 2px;
    transition: width 200ms ease-in-out, height 200ms ease-in-out;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 100%;
}

.module-docheader.module-docheader-folded + .module-body .mail-wizard-navigation li::before {
    width: 16px;
    height: 2px;
}

@media (min-width: 576px) {

    .mail-wizard-navigation li {
        width: 25px;
        height: 25px;
        margin-right: 16px;
    }

    .module-docheader.module-docheader-folded + .module-body .mail-wizard-navigation li,
    .module-docheader.module-docheader-folded ~ .module-body .mail-wizard-navigation li {
        width: 25px;
        height: 25px;
        margin-right: 16px;
    }

    .mail-wizard-navigation li::before {
        width: 16px;
        height: 2px;
    }

    .mail-wizard-navigation li .title {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        color: #171717;
        font-size: .8rem;
        font-weight: 400;
    }

    .mail-wizard-navigation li.current .title {
        color: var(--mail-primary);
    }

}

@media (min-width: 768px) {
    .mail-wizard-navigation li {
        margin-right: 32px;
    }
    .mail-wizard-navigation li::before {
        width: 32px;
    }
    .module-docheader.module-docheader-folded + .module-body .mail-wizard-navigation li::before {
        width: 16px;
    }
}


.mail-wizard-navigation li.last::before {
    content: none;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.mail-wizard-navigation li.current,
.mail-wizard-navigation li.current:active,
.mail-wizard-navigation li.done::before,
.mail-wizard-navigation li.done,
.mail-wizard-navigation li.done:active {
    background-color: var(--mail-color);
    outline-color: var(--mail-color);
    animation: fadeIn 500ms ease-in-out forwards;
}

.btn.btn-mail-theme {
    --bs-btn-color: var(--mail-color);
    --bs-btn-bg: var(--mail-background-color);
    --bs-btn-border-color: var(--mail-border-color);
    --bs-btn-hover-color: var(--mail-color);
    --bs-btn-hover-bg: var(--mail-border-color);
    --bs-btn-hover-border-color: var(--mail-hover-border-color);
    --bs-btn-focus-shadow-rgb: 38,118,190;
    --bs-btn-active-color: var(--mail-color);
    --bs-btn-active-bg: var(--mail-active-bg);
    --bs-btn-active-border-color: var(--mail-active-border-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--mail-background-color);
    --bs-btn-disabled-border-color: var(--mail-border-color);
    --typo3-btn-color: var(--mail-color);
    --typo3-btn-bg: var(--mail-background-color);
    --typo3-btn-border-color: var(--mail-border-color);
    --typo3-btn-hover-color: var(--mail-color);
    --typo3-btn-hover-bg: var(--mail-border-color);
    --typo3-btn-hover-border-color: var(--mail-hover-border-color);
    --typo3-btn-focus-shadow-rgb: 38,118,190;
    --typo3-btn-active-color: var(--mail-color);
    --typo3-btn-active-bg: var(--mail-active-bg);
    --typo3-btn-active-border-color: var(--mail-active-border-color);
    --typo3-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --typo3-btn-disabled-color: #000;
    --typo3-btn-disabled-bg: var(--mail-background-color);
    --typo3-btn-disabled-border-color: var(--mail-border-color);
}

.mail-wizard-settings .mail-wizard-preview {
    max-height: 50vh;
    overflow-y:scroll;
}

.mail-wizard-settings pre {
    white-space: pre-wrap;
}

.mail-wizard-categories .mail-wizard-preview {
    height:450px;
    overflow-y:scroll;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {

    .mail-wizard-categories .mail-wizard-preview {
        width:320px;
        height:450px;
        overflow-x: hidden;
        overflow-y:scroll;
        scroll-behavior: smooth;
    }
    .mail-wizard-categories .mail-wizard-preview-body {
        width:600px;
        height:100%;
        overflow:visible;
        transform: scale(0.5) translate(-50%, -50%);
    }
}

@media (min-width: 992px) {
    [data-module-name="mail_report"] .mail-wizard-preview,
    [data-module-name="MailMail_MailReport"] .mail-wizard-preview {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
}

.mail-wizard-preview-body > div {
    position:relative;
}

.mail-wizard-preview-body > div::before {
    position:absolute;
    z-index:1040;
    content:"";
    display:block;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,0);
}

.mail-report-responses-table td {
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:406px;
    white-space: nowrap;
}

.mail-report-responses-table td+td {
    width: 5ch;
    text-align: center;
}

.table-fit > .table tr:last-child th {
    border-bottom: 0;
}

.mail-queue-table {
    display: block;
    overflow-x: auto;
}

.progress-stacked {
    --bs-progress-height: 1.25rem;
    --bs-progress-font-size: 0.675rem;
    --bs-progress-bg: #dedede;
    --bs-progress-border-radius: 0.125rem;
    --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #0078e6;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}
.progress-stacked > .progress {
    overflow: visible;
}

.progress-stacked > .progress > .progress-bar {
    width: 100%;
}
