<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <f:variable name="lll2" value="LLL:EXT:mail/Resources/Private/Language/locallang_tca.xlf:"/>
    <f:if condition="{configuration -> f:count()}">
        <h1>
            <f:translate key="{lll}configuration.header"/>
        </h1>
        <f:form action="update" id="mailConfigurationForm" method="post" enctype="multipart/form-data">
            <f:render partial="Configuration/Tabs" arguments="{_all}" />
        </f:form>
    </f:if>
</f:section>
</html>
