<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <f:variable name="lll2" value="LLL:EXT:mail/Resources/Private/Language/locallang_tca.xlf:"/>
    <f:if condition="{configuration -> f:count()}">
        <h1>
            <f:translate key="{lll}configuration.header"/>
        </h1>
        <f:form action="update" method="post" enctype="multipart/form-data">
            <div id="mail-configuration-accordion">
            <f:render
                arguments="{
                    configuration: configuration,
                    index: 1,
                    section: 'HeaderSettings',
                    title: 'configuration.defaultHeaders',
                    lll: lll,
                    lll2: lll2
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: configuration,
                    index: 2,
                    section: 'FormatSettings',
                    title: 'configuration.defaultFormat',
                    lll: lll,
                    lll2: lll2
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: configuration,
                    index: 3,
                    section: 'FetchSettings',
                    title: 'configuration.defaultFetchSettings',
                    lll: lll,
                    lll2: lll2
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: configuration,
                    charsets: charsets,
                    index: 4,
                    section: 'EncodingSettings',
                    title: 'configuration.additionalOptions.encoding',
                    lll: lll,
                    lll2: lll2
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: configuration,
                    index: 5,
                    section: 'MailLinksSettings',
                    title: 'configuration.linksAndTracking',
                    lll: lll,
                    lll2: lll2
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: configuration,
                    index: 6,
                    section: 'AdditionalModuleSettings',
                    title: 'configuration.additionalOptions',
                    lll: lll,
                    lll2: lll2
                }"
                section="Panel"
            />
            </div>
            <button class="btn btn-mail-theme text-uppercase" type="submit" name="submit">
                <f:translate
                    key="{lll}general.button.save"/>
            </button>
        </f:form>
    </f:if>
</f:section>

<f:comment><!--
    Parameters:
    - configuration: all configuration options
    - index: numeric section index
    - title: panel title
    - section: section that renders content
--></f:comment>
<f:section name="Panel">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{index}">
            <h4 class="panel-title">
                <a role="button" data-bs-toggle="collapse" href="#collapse{index}"
                   aria-expanded="true" aria-controls="collapse{index}" class="collapsed">
                    <span class="caret"></span>
                    <f:translate key="{lll}{title}"/>
                </a>
            </h4>
        </div>
        <div id="collapse{index}" class="panel-collapse collapse" data-bs-parent="#mail-configuration-accordion" aria-labelledby="heading{index}">
            <div class="panel-body">
                <f:render section="{section}" arguments="{_all}"/>
            </div>
        </div>
    </div>
</f:section>

<f:section name="help">
    <f:variable name="tooltip">
    <f:for each="{messages}" as="message">
        <f:if condition="{message}">
            <f:translate key="{message}" default="{message}"/><br>
        </f:if>
    </f:for>
    </f:variable>
    <span class="badge rounded-pill bg-mail-theme mb-1 ms-1" data-bs-trigger="hover focus" data-bs-container="body" data-bs-toggle="popover" data-bs-html="true" data-bs-placement="right" data-bs-content="{tooltip -> f:format.html()}">
        i
    </span>
</f:section>

<f:section name="HeaderSettings">
    <div class="mb-3">
        <label for="fromEmail" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.fromEmail"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.fromEmail.description\', 1: \'{lll}configuration.fromEmail.details\'}'}"/>
        </label>
        <f:form.textfield type="email" id="fromEmail" name="pageTS[fromEmail]" value="{configuration.fromEmail}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="fromName" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.fromName"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.fromName.description\', 1: \'{lll}configuration.fromName.details\'}'}"/>
        </label>
        <f:form.textfield id="fromName" name="pageTS[fromName]" value="{configuration.fromName}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="replyToEmail" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.replyToEmail"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.replyToEmail.description\', 1: \'{lll}configuration.replyToEmail.details\'}'}"/>
        </label>
        <f:form.textfield id="replyToEmail" name="pageTS[replyToEmail]" value="{configuration.replyToEmail}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="replyToName" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.replyToName"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.replyToName.description\', 1: \'{lll}configuration.replyToName.details\'}'}"/>
        </label>
        <f:form.textfield id="replyToName" name="pageTS[replyToName]" value="{configuration.replyToName}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="returnPath" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.returnPath"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.returnPath.description\', 1: \'{lll}configuration.returnPath.details\'}'}"/>
        </label>
        <f:form.textfield id="returnPath" name="pageTS[returnPath]" value="{configuration.returnPath}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="organisation" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.organisation"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.organisation.description\', 1: \'{lll}configuration.organisation.details\'}'}"/>
        </label>
        <f:form.textfield id="organisation" name="pageTS[organisation]" value="{configuration.organisation}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="priority" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.priority"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.priority.description\', 1: \'{lll}configuration.priority.details\'}'}"/>
        </label>
        <f:form.select id="priority" name="pageTS[priority]" value="{configuration.priority}" class="form-select form-control-adapt">
            <f:form.select.option value="3">
                <f:translate key="{lll}configuration.priority.normal"/>
            </f:form.select.option>
            <f:form.select.option value="1">
                <f:translate key="{lll}configuration.priority.high"/>
            </f:form.select.option>
            <f:form.select.option value="5">
                <f:translate key="{lll}configuration.priority.low"/>
            </f:form.select.option>
        </f:form.select>
    </div>
</f:section>

<f:section name="FormatSettings">
    <div class="mb-3">
        <label for="sendOptions" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.sendOptions"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.sendOptions.description\', 1: \'{lll}configuration.sendOptions.details\'}'}"/>
        </label>
        <f:form.select id="sendOptions" name="pageTS[sendOptions]" value="{configuration.sendOptions}" class="form-select form-control-adapt">
            <f:form.select.option value="3">
                <f:translate key="{lll}configuration.plainTextAndHtml"/>
            </f:form.select.option>
            <f:form.select.option value="1">
                <f:translate key="{lll}configuration.plainTextOnly"/>
            </f:form.select.option>
            <f:form.select.option value="2">
                <f:translate key="{lll}configuration.htmlOnly"/>
            </f:form.select.option>
        </f:form.select>
    </div>
    <div class="form-check mb-3">
        <f:form.checkbox id="includeMedia" class="form-check-input" name="pageTS[includeMedia]" value="1" checked="{configuration.includeMedia} == 1"/>
        <label for="includeMedia" class="form-check-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.includeMedia"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.includeMedia.description\', 1: \'{lll}configuration.includeMedia.details\'}'}"/>
        </label>
    </div>
</f:section>

<f:section name="FetchSettings">
    <div class="mb-3">
        <label for="htmlParams" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.htmlParams"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.htmlParams.description\', 1: \'{lll}configuration.htmlParams.details\'}'}"/>
        </label>
        <f:form.textfield id="htmlParams" name="pageTS[htmlParams]" value="{configuration.htmlParams}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="plainParams" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.plainParams"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.plainParams.description\', 1: \'{lll}configuration.plainParams.details\'}'}"/>
        </label>
        <f:form.textfield id="plainParams" name="pageTS[plainParams]" value="{configuration.plainParams}" class="form-control"/>
    </div>
</f:section>

<f:section name="EncodingSettings">
    <div class="mb-3">
        <label for="quickMailEncoding" class="form-label">
            <f:translate key="{lll}configuration.quickmail.encoding"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.quickmail.encoding\'}'}"/>
        </label>
        <f:form.select id="quickMailEncoding" name="pageTS[quickMailEncoding]" options="{quoted-printable: 'quoted-printable', base64: 'base64'}"
                       value="{configuration.quickMailEncoding}" class="form-select form-control-adapt"/>
    </div>
    <div class="mb-3">
        <label for="encoding" class="form-label">
            <f:translate key="{lll}configuration.encoding"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.encoding.description\'}'}"/>
        </label>
        <f:form.select id="encoding" name="pageTS[encoding]" options="{quoted-printable:'quoted-printable', base64:'base64', 8bit:'8bit'}"
                       value="{configuration.encoding}" class="form-select form-control-adapt"/>
    </div>
    <div class="mb-3">
        <label for="quickMailCharset" class="form-label">
            <f:translate key="{lll}configuration.quickmail.charset"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.quickmail.charset.description\'}'}"/>
        </label>
        <f:form.select id="quickMailCharset" name="pageTS[quickMailCharset]" value="{configuration.quickMailCharset}" class="form-select form-control-adapt">
            <f:for each="{charsets}" as="charset">
                <f:form.select.option value="{charset}" selected="{f:if(condition: '{charset -> f:format.case(mode:\'lower\')} == {configuration.quickMailCharset -> f:format.case(mode:\'lower\')}', then: 1, else: 0)}">
                    {charset}
                </f:form.select.option>
            </f:for>
        </f:form.select>
    </div>
    <div class="mb-3">
        <label for="charset" class="form-label">
            <f:translate key="{lll}configuration.charset"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.charset.description\'}'}"/>
        </label>
        <f:form.select id="charset" name="pageTS[charset]" value="{configuration.charset}" class="form-select form-control-adapt">
            <f:for each="{charsets}" as="charset">
                <f:form.select.option value="{charset}" selected="{f:if(condition: '{charset -> f:format.case(mode:\'lower\')} == {configuration.charset -> f:format.case(mode:\'lower\')}', then: 1, else: 0)}">
                    {charset}
                </f:form.select.option>
            </f:for>
        </f:form.select>
    </div>
</f:section>

<f:section name="MailLinksSettings">
    <div class="form-check mb-3">
        <f:form.checkbox id="redirect" class="form-check-input" name="pageTS[redirect]" value="1" checked="{configuration.redirect} == 1"/>
        <label for="redirect" class="form-check-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.redirect"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.redirect.description\', 1: \'{lll}configuration.redirect.details\'}'}"/>
        </label>
    </div>
    <div class="form-check mb-3">
        <f:form.checkbox id="redirectAll" class="form-check-input" name="pageTS[redirectAll]" value="1" checked="{configuration.redirectAll} == 1"/>
        <label for="redirectAll" class="form-check-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.redirectAll"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.redirectAll.description\'}'}"/>
        </label>
    </div>
    <div class="form-check mb-3">
        <f:form.checkbox id="clickTracking" class="form-check-input" name="pageTS[clickTracking]" value="1" checked="{configuration.clickTracking} == 1"/>
        <label for="clickTracking" class="form-check-label">
            <f:translate key="{lll}configuration.linksAndTracking.clickTracking"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.linksAndTracking.clickTracking.description\'}'}"/>
        </label>
    </div>
    <div class="form-check mb-3">
        <f:form.checkbox id="trackingPrivacy" class="form-check-input" name="pageTS[trackingPrivacy]" value="1" checked="{configuration.trackingPrivacy} == 1"/>
        <label for="trackingPrivacy" class="form-check-label">
            <f:translate key="{lll}configuration.trackingPrivacy"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.trackingPrivacy.description\'}'}"/>
        </label>
    </div>
    <div class="form-check mb-3">
        <f:form.checkbox id="clickTrackingMailTo" class="form-check-input" name="pageTS[clickTrackingMailTo]" value="1" checked="{configuration.clickTrackingMailTo} == 1"/>
        <label for="clickTrackingMailTo" class="form-check-label">
            <f:translate key="{lll}configuration.linksAndTracking.clickTracking.mailTo"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.linksAndTracking.clickTracking.mailTo.description\'}'}"/>
        </label>
    </div>
    <div class="mb-3">
        <label for="authCodeFields" class="form-label">
            <f:translate key="{lll2}tx_mail_domain_model_mail.authCodeFields"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.authCodeFields.description\'}'}"/>
        </label>
        <f:form.textfield id="authCodeFields" name="pageTS[authCodeFields]" value="{configuration.authCodeFields}" class="form-control"/>
    </div>
</f:section>

<f:section name="AdditionalModuleSettings">
    <div class="mb-3">
        <label for="httpUsername" class="form-label">
            <f:translate key="{lll}configuration.httpUsername"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.httpUsername.description\', 1: \'{lll}configuration.httpUsername.details\'}'}"/>
        </label>
        <f:form.textfield id="httpUsername" name="pageTS[httpUsername]" value="{configuration.httpUsername}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="httpPassword" class="form-label">
            <f:translate key="{lll}configuration.httpPassword"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.httpPassword.description\'}'}"/>
        </label>
        <f:form.textfield id="httpPassword" name="pageTS[httpPassword]" value="{configuration.httpPassword}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="simulateUsergroup" class="form-label">
            <f:translate key="{lll}configuration.simulateUsergroup"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.simulateUsergroup.description\', 1: \'{lll}configuration.simulateUsergroup.details\'}'}"/>
        </label>
        <f:form.textfield id="simulateUsergroup" name="pageTS[simulateUsergroup]" value="{configuration.simulateUsergroup}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="testTtAddressUids" class="form-label">
            <f:translate key="{lll}configuration.testAddressUids"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.testAddressUids.description\'}'}"/>
        </label>
        <f:form.textfield id="testTtAddressUids" name="pageTS[testTtAddressUids]" value="{configuration.testTtAddressUids}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="testMailGroupUids" class="form-label">
            <f:translate key="{lll}configuration.testMailGroupUids"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.testMailGroupUids.description\'}'}"/>
        </label>
        <f:form.textfield id="testMailGroupUids" name="pageTS[testMailGroupUids]" value="{configuration.testMailGroupUids}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="testMailSubjectPrefix" class="form-label">
            <f:translate key="{lll}configuration.testMailSubjectPrefix"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.testMailSubjectPrefix.description\'}'}"/>
        </label>
        <f:form.textfield id="testMailSubjectPrefix" name="pageTS[testMailSubjectPrefix]" value="{configuration.testMailSubjectPrefix}" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="sendPerCycle" class="form-label">
            <f:translate key="{lll}configuration.sendPerCycle"/><f:render section="help" arguments="{messages: '{0: \'{lll}configuration.sendPerCycle.description\'}'}"/>
        </label>
        <f:form.textfield id="sendPerCycle" type="number" additionalAttributes="{min:1, max:500}" name="pageTS[sendPerCycle]" value="{configuration.sendPerCycle}" class="form-control"/>
    </div>
</f:section>
</html>
